@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(contents.css);
@import url(main.css);


.sub_visual {
    background: url(../images/sub_visual.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: 480px;
    color: #fff;
    text-align: center;
}
/* .sub_visual .wrapper {
    position: relative;
} */
.sub_visual h2 {
    font-family: 'ChungjuKimSaengTTF';
    font-weight: var(--bold-weight);
    font-size: 3.53rem;
    padding: 186px 0 0 0;
}
.sub_visual .lnb {
    background-color: var(--point-color);
    height: 70px;
}
.sub_visual .lnb ul {
    display: flex;
    gap: 50px;
    overflow-y: hidden;/* 위아래 스크롤 바는 숨김 */
    overflow-x: auto; /* 좌우 스크롤바 생성 */
    margin: 134px 0 0 0;

}
.sub_visual .lnb ul li a {
    display: block;
    width: 115px;
    height: 70px;
    font-size: 1.18rem;
    padding: 20px 0;
}
.sub_visual .lnb ul li.active a {
    position: relative;
    font-weight: var(--bold-weight);
}
.sub_visual .lnb ul li.active a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    bottom: 0;
    background-color: #fff;
}
.bokchon .breadcrumb ol {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    margin: 34px 0 85px 0;
}
.bokchon .breadcrumb ol li.home a {
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 16H5V11C5 10.7167 5.09583 10.4792 5.2875 10.2875C5.47917 10.0958 5.71667 10 6 10H10C10.2833 10 10.5208 10.0958 10.7125 10.2875C10.9042 10.4792 11 10.7167 11 11V16H14V7L8 2.5L2 7V16ZM0 16V7C0 6.68333 0.0708333 6.38333 0.2125 6.1C0.354167 5.81667 0.55 5.58333 0.8 5.4L6.8 0.9C7.15 0.633333 7.55 0.5 8 0.5C8.45 0.5 8.85 0.633333 9.2 0.9L15.2 5.4C15.45 5.58333 15.6458 5.81667 15.7875 6.1C15.9292 6.38333 16 6.68333 16 7V16C16 16.55 15.8042 17.0208 15.4125 17.4125C15.0208 17.8042 14.55 18 14 18H10C9.71667 18 9.47917 17.9042 9.2875 17.7125C9.09583 17.5208 9 17.2833 9 17V12H7V17C7 17.2833 6.90417 17.5208 6.7125 17.7125C6.52083 17.9042 6.28333 18 6 18H2C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.bokchon .breadcrumb ol li a {
    display: block;
}
.bokchon .breadcrumb ol li + li {
    position: relative;
}

.bokchon .breadcrumb ol li + li::before {
    position: absolute;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='16' viewBox='0 0 10 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.01875 15.5L0.6875 14.1688L6.85625 8L0.6875 1.83125L2.01875 0.5L9.51875 8L2.01875 15.5Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-position: center center;    
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    left: -22px;
    top: 2px;
}

.bokchon .intro {
    display: flex;
    gap: 107px;
}
.bokchon .intro .inner {
    width: 50%;
}
.bokchon .intro .inner .tit {
    position: relative;
    margin-bottom: 63px;
}
.bokchon .intro .inner .tit::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    left: 0;
    bottom: -25px;
    background-color: #ccc;
}

.bokchon .intro .inner .tit ul {
    display: flex;
    gap: 10px;
}
.bokchon .intro .inner > .tit > ul > li {
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 40px;
}
.bokchon .intro .inner .tit h3 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    margin: 44px 0 33px 0;
}
.bokchon .intro .inner .tit .sub_tit {
    margin: 40px 0 33px 0;
}
.bokchon .intro .inner .tit .sub_tit ul {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}
.bokchon .intro .inner .tit .sub_tit ul li strong {
    font-weight: var(--bold-weight);
    display: inline-block;
    width: 95px;
    position: relative;
}
.bokchon .intro .inner .tit .sub_tit ul li strong::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #ccc;
    right: 22px;
    top: 5px;
}
.bokchon .intro .inner .tit .sub_tit ul li strong::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: var(--point-color);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    left: -32px;
    top: 0;
}
.bokchon .intro .inner .tit .sub_tit ul li strong.icon1::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 10 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00065 11.4389C4.86454 11.4389 4.72843 11.4146 4.59232 11.366C4.45621 11.3174 4.33468 11.2445 4.22773 11.1473C3.59579 10.5639 3.03676 9.99518 2.55065 9.44102C2.06454 8.88685 1.65864 8.3497 1.33294 7.82956C1.00725 7.30942 0.759332 6.80872 0.589193 6.32747C0.419054 5.84622 0.333984 5.38685 0.333984 4.94935C0.333984 3.49102 0.803082 2.32921 1.74128 1.46393C2.67947 0.598655 3.76593 0.166016 5.00065 0.166016C6.23537 0.166016 7.32183 0.598655 8.26003 1.46393C9.19822 2.32921 9.66732 3.49102 9.66732 4.94935C9.66732 5.38685 9.58225 5.84622 9.41211 6.32747C9.24197 6.80872 8.99405 7.30942 8.66836 7.82956C8.34267 8.3497 7.93676 8.88685 7.45065 9.44102C6.96454 9.99518 6.40551 10.5639 5.77357 11.1473C5.66662 11.2445 5.5451 11.3174 5.40898 11.366C5.27287 11.4146 5.13676 11.4389 5.00065 11.4389ZM5.00065 5.99935C5.32148 5.99935 5.59614 5.88511 5.82461 5.65664C6.05308 5.42817 6.16732 5.15352 6.16732 4.83268C6.16732 4.51185 6.05308 4.2372 5.82461 4.00872C5.59614 3.78025 5.32148 3.66602 5.00065 3.66602C4.67982 3.66602 4.40517 3.78025 4.17669 4.00872C3.94822 4.2372 3.83398 4.51185 3.83398 4.83268C3.83398 5.15352 3.94822 5.42817 4.17669 5.65664C4.40517 5.88511 4.67982 5.99935 5.00065 5.99935Z' fill='white'/%3E%3C/svg%3E%0A");
}
.bokchon .intro .inner .tit .sub_tit ul li strong.icon2::before {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.975 9.5C7.93333 9.5 6.90417 9.27292 5.8875 8.81875C4.87083 8.36458 3.94583 7.72083 3.1125 6.8875C2.27917 6.05417 1.63542 5.12917 1.18125 4.1125C0.727083 3.09583 0.5 2.06667 0.5 1.025C0.5 0.875 0.55 0.75 0.65 0.65C0.75 0.55 0.875 0.5 1.025 0.5H3.05C3.16667 0.5 3.27083 0.539583 3.3625 0.61875C3.45417 0.697917 3.50833 0.791667 3.525 0.9L3.85 2.65C3.86667 2.78333 3.8625 2.89583 3.8375 2.9875C3.8125 3.07917 3.76667 3.15833 3.7 3.225L2.4875 4.45C2.65417 4.75833 2.85208 5.05625 3.08125 5.34375C3.31042 5.63125 3.5625 5.90833 3.8375 6.175C4.09583 6.43333 4.36667 6.67292 4.65 6.89375C4.93333 7.11458 5.23333 7.31667 5.55 7.5L6.725 6.325C6.8 6.25 6.89792 6.19375 7.01875 6.15625C7.13958 6.11875 7.25833 6.10833 7.375 6.125L9.1 6.475C9.21667 6.50833 9.3125 6.56875 9.3875 6.65625C9.4625 6.74375 9.5 6.84167 9.5 6.95V8.975C9.5 9.125 9.45 9.25 9.35 9.35C9.25 9.45 9.125 9.5 8.975 9.5Z' fill='white'/%3E%3C/svg%3E%0A");
}
.bokchon .intro .inner .tit .sub_tit ul li span {
    display: inline-block;
    width: calc(100% - 105px);
}
.bokchon .intro .inner a {
    border: 1px solid var(--point-color);
    padding: 14px 52px 13px 52px ;
    border-radius: 5px;
}
.bokchon .intro .photo {
    width: 50%;
    height: 490px;
}
.bokchon .intro .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
@media screen and (max-width:1024px) {
                        .bokchon .breadcrumb ol {
                            justify-content: center;
                            margin: 40px 0 57px 0;
                        }
                        .bokchon .intro {
                            display: block;
                            gap: 0;
                        }
                        .bokchon .intro .inner {
                            width: 100%;
                        }
                        .bokchon .intro .inner .tit {
                            margin-bottom: 35px;
                        }
                        .bokchon .intro .inner .tit::after {
                            display: none;
                        }
                        .bokchon .intro .inner .tit ul {
                            gap: 5px;
                        }
                        .bokchon .intro .inner > .tit > ul > li {
                            padding: 9px 16px 8px 18px;
                            border-radius: 30px;
                        }
                        .bokchon .intro .inner .tit h3 {
                            margin: 29px 0 32px 0;
                        }
                        .bokchon .intro .inner .tit .sub_tit {
                            margin: 35px 0 40px 0;
                        }
                        .bokchon .intro .inner .tit .sub_tit ul li strong {
                            width: 72px;
                        }
                        .bokchon .intro .inner .tit .sub_tit ul li strong::after {
                            right: 9px;
                        }
                        .bokchon .intro .inner .tit .sub_tit ul li span {
                            width: auto;
                        }
                        .bokchon .intro .inner a {
                            display: none;
                        }
                        .bokchon .intro .photo {
                            width: 100%;
                            height: 268px;
                        }
                        .bokchon .intro .photo img {
                            border-top-right-radius: 30px;
                            border-bottom-left-radius: 30px;
                        }
}










footer {/*임시로 줌*/
    margin: 500px 0 0 0;
}