@import url(default.css);
@import url(font.css);
@import url(common.css);

.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000; /*맨위*/
    width: 100%;
}
.skip_nav a {
    display: block;
    background-color: navy;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;

}
.skip_nav a:focus {
    top: 0;    
}
body {
    background-color: #fff;
} /*돌돌 블랜딩 모드 때문에..*/

header {
    position: fixed; /*body를 기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    display: flex; /*logo gnb util을 좌우로 배치*/
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /*위아래, 좌우*/
}
header .logo a {
    display: block;
    width: 214px;
    height: 35px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
/***************header에 fixed 클래스가 추가 되었을때*******************/
header.fixed {
    background-color: #fff;
    color: #1d1d1d;
    border-bottom: 1px solid #ededed;
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}

@media screen and (min-width:1025px) {
    /* pc버전에서만 적용되는 header 스타일 */
    
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none; /*모바일에서만 보임*/
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /*li를 좌우로 배치*/
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /*2차메뉴 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 100px; /*header높이만큼 주기*/
        font-size: 22px;
        font-weight: 700;
        padding: 0 26px;
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span {
        /* li하위에 depth2가 있는 a만 */
        display: block;
        padding-right: 17px; /*아이콘이 들어갈만큼*/
        position: relative; /*after 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        content: "";
        position: absolute;
        right: 0;
        top: 45px;
        width: 15px;
        height: 9px;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.4L0 1.4L1.4 0L6 4.6L10.6 0L12 1.4L6 7.4Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        display: none; /*2차메뉴*/
        position: absolute;
        left: 50%;
        transform: translateX(-50%); /* ul 길이 절반을 왼쪽으로 이동*/
        top: 84px;
        background-color: #FF4646;
        color: #fff;
        padding: 0 20px;
        border-radius: 40px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li a {
        display: block;
        white-space: nowrap; /*줄바꿈금지*/
        padding: 17px 25px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li a[target="_blank"] > span {
        /* 속성선택자 <a target="_blank">라는 속성이 있는 a 태그만 선택함*/
        display: block;
        padding-right: 20px;
        position: relative; /*after 정렬의 기준*/
    } 
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li a[target="_blank"] > span::before {
        content: "";
        position: absolute;
        right: 0;
        top: 2px;
        width: 18px;
        height: 18px;
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.54167 12.875C1.15208 12.875 0.818576 12.7363 0.541146 12.4589C0.263715 12.1814 0.125 11.8479 0.125 11.4583V1.54167C0.125 1.15208 0.263715 0.818576 0.541146 0.541146C0.818576 0.263715 1.15208 0.125 1.54167 0.125H5.79167C5.99236 0.125 6.16059 0.192882 6.29635 0.328646C6.43212 0.46441 6.5 0.632639 6.5 0.833333C6.5 1.03403 6.43212 1.20226 6.29635 1.33802C6.16059 1.47378 5.99236 1.54167 5.79167 1.54167H1.54167V11.4583H11.4583V7.20833C11.4583 7.00764 11.5262 6.83941 11.662 6.70365C11.7977 6.56788 11.966 6.5 12.1667 6.5C12.3674 6.5 12.5356 6.56788 12.6714 6.70365C12.8071 6.83941 12.875 7.00764 12.875 7.20833V11.4583C12.875 11.8479 12.7363 12.1814 12.4589 12.4589C12.1814 12.7363 11.8479 12.875 11.4583 12.875H1.54167ZM11.4583 2.53333L5.36667 8.625C5.23681 8.75486 5.07153 8.81979 4.87083 8.81979C4.67014 8.81979 4.50486 8.75486 4.375 8.625C4.24514 8.49514 4.18021 8.32986 4.18021 8.12917C4.18021 7.92847 4.24514 7.76319 4.375 7.63333L10.4667 1.54167H8.625C8.4243 1.54167 8.25608 1.47378 8.12031 1.33802C7.98455 1.20226 7.91667 1.03403 7.91667 0.833333C7.91667 0.632639 7.98455 0.46441 8.12031 0.328646C8.25608 0.192882 8.4243 0.125 8.625 0.125H12.1667C12.3674 0.125 12.5356 0.192882 12.6714 0.328646C12.8071 0.46441 12.875 0.632639 12.875 0.833333V4.375C12.875 4.57569 12.8071 4.74392 12.6714 4.87969C12.5356 5.01545 12.3674 5.08333 12.1667 5.08333C11.966 5.08333 11.7977 5.01545 11.662 4.87969C11.5262 4.74392 11.4583 4.57569 11.4583 4.375V2.53333Z' fill='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li a > span {
        position: relative; /*after 정렬의 기준*/
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li a:hover > span::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    header .util .search_open {
        display: block;
        width: 45px;
        height: 45px;
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.47949 1.125C10.545 1.12507 12.2747 1.83529 13.6992 3.25977C15.1235 4.68425 15.833 6.41402 15.833 8.47949C15.833 9.20736 15.7325 9.89417 15.5322 10.542L15.4395 10.8174C15.1747 11.555 14.8184 12.2009 14.3721 12.7588L14.0928 13.1084L21.668 20.6836L20.6836 21.668L13.1084 14.0928L12.7588 14.3721C12.2707 14.7625 11.7151 15.0842 11.0898 15.3359L10.8174 15.4395C10.0895 15.7007 9.31148 15.833 8.47949 15.833C6.41402 15.833 4.68425 15.1235 3.25977 13.6992C1.83529 12.2747 1.12507 10.545 1.125 8.47949C1.125 6.41386 1.83522 4.68431 3.25977 3.25977C4.68431 1.83522 6.41386 1.125 8.47949 1.125ZM8.47949 2.54199C6.94065 2.54199 5.60353 3.05149 4.49316 4.06445L4.27441 4.27441C3.12229 5.42654 2.54199 6.83798 2.54199 8.47949C2.54206 10.0181 3.05166 11.3546 4.06445 12.4648L4.27441 12.6846C5.42648 13.8365 6.83813 14.417 8.47949 14.417C10.1209 14.4169 11.5325 13.8366 12.6846 12.6846C13.8366 11.5325 14.4169 10.1209 14.417 8.47949C14.417 6.94058 13.9066 5.60357 12.8936 4.49316L12.6846 4.27441C11.5325 3.12237 10.1209 2.54207 8.47949 2.54199Z' fill='white' stroke='white'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
    }

    /***************header에 fixed 클래스가 추가 되었을때*******************/
    header.fixed .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 7.4L0 1.4L1.4 0L6 4.6L10.6 0L12 1.4L6 7.4Z' fill='%233d3d3d'/%3E%3C/svg%3E%0A");
    }
    header.fixed .util .search_open {
        background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.47949 1.125C10.545 1.12507 12.2747 1.83529 13.6992 3.25977C15.1235 4.68425 15.833 6.41402 15.833 8.47949C15.833 9.20736 15.7325 9.89417 15.5322 10.542L15.4395 10.8174C15.1747 11.555 14.8184 12.2009 14.3721 12.7588L14.0928 13.1084L21.668 20.6836L20.6836 21.668L13.1084 14.0928L12.7588 14.3721C12.2707 14.7625 11.7151 15.0842 11.0898 15.3359L10.8174 15.4395C10.0895 15.7007 9.31148 15.833 8.47949 15.833C6.41402 15.833 4.68425 15.1235 3.25977 13.6992C1.83529 12.2747 1.12507 10.545 1.125 8.47949C1.125 6.41386 1.83522 4.68431 3.25977 3.25977C4.68431 1.83522 6.41386 1.125 8.47949 1.125ZM8.47949 2.54199C6.94065 2.54199 5.60353 3.05149 4.49316 4.06445L4.27441 4.27441C3.12229 5.42654 2.54199 6.83798 2.54199 8.47949C2.54206 10.0181 3.05166 11.3546 4.06445 12.4648L4.27441 12.6846C5.42648 13.8365 6.83813 14.417 8.47949 14.417C10.1209 14.4169 11.5325 13.8366 12.6846 12.6846C13.8366 11.5325 14.4169 10.1209 14.417 8.47949C14.417 6.94058 13.9066 5.60357 12.8936 4.49316L12.6846 4.27441C11.5325 3.12237 10.1209 2.54207 8.47949 2.54199Z' fill='%23070707' stroke='%23070707'/%3E%3C/svg%3E%0A");
    }

    /*********** 메뉴에 마우스를 오버했을때****************/
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: #FF4646;
    }
    header .gnb .gnb_wrap ul.depth1 > li.over:has(ul.depth2) > a > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='13' height='9' viewBox='0 0 13 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.04192 0.600294L12.9675 6.67384L11.5503 8.05646L7.00738 3.40008L2.351 7.943L0.968374 6.52584L7.04192 0.600294Z' fill='%23FF4646'/%3E%3C/svg%3E%0A");    
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: flex; /*li좌우로 배치*/
    }
}/*@media*/

@media screen and (min-width:1025px) and (max-width:1280px) { /*1280~1025까지만 적용*/
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
        padding: 0 15px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li a {
        padding: 10px 10px;
    }
}/*@media*/

/*#######################모바일############################*/
@media screen and (max-width:1024px) {
                        header {
                            height: 56px;
                            padding: 0 0 0 20px;
                        }
                        header .logo a {
                            width:120px;
                            height: 25px;
                        }
                        header .gnb .gnb_open {
                            display: block;
                            width: 56px;
                            height: 56px;
                            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 21.5V19.1667H21.5V21.5H0.5ZM0.5 12.1667V9.83333H21.5V12.1667H0.5ZM0.5 2.83333V0.5H21.5V2.83333H0.5Z' fill='white'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        header.fixed .gnb .gnb_open {
                            background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 21.5V19.1667H21.5V21.5H0.5ZM0.5 12.1667V9.83333H21.5V12.1667H0.5ZM0.5 2.83333V0.5H21.5V2.83333H0.5Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
                        }
                        header .gnb .gnb_wrap {
                            display: none;
                            position: fixed; /*body를 기준으로 정렬*/
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #fff;
                            color: #1d1d1d;
                        }
                        header .gnb .gnb_wrap ul.depth1 {
                            margin: 56px 20px 0 20px;
                            height: calc(100% - 56px);
                            overflow-y: auto; /*메뉴 넘치면 스크롤바 만듦*/
                        }
                        header .gnb .gnb_wrap ul.depth1 > li {
                            border-bottom: 1px solid #EDEDED;
                        }
                        
                        header .gnb .gnb_wrap ul.depth1 > li:first-child {
                            border-top: 1px solid #EDEDED;
                        }
                        header .gnb .gnb_wrap ul.depth1 > li > a {
                            display: block;
                            font-size: 22px;
                            font-weight: 700;
                            padding: 14px 0;
                            position: relative; /*after정렬의 기준*/
                        }
                        header .gnb .gnb_wrap ul.depth1 > li:has(ul.depth2) > a::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 25px;
                            width: 14px;
                            height: 8px;
                            background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.93183 5.87323L12.5814 0.223666C12.7304 0.0746657 12.9058 0.00204117 13.1077 0.00579116C13.3097 0.00966615 13.4852 0.0861031 13.6342 0.235103C13.7832 0.384228 13.8577 0.559728 13.8577 0.761603C13.8577 0.963478 13.7832 1.13898 13.6342 1.2881L7.8924 7.04136C7.75677 7.17698 7.60483 7.27748 7.43658 7.34286C7.26833 7.40823 7.10008 7.44092 6.93183 7.44092C6.76358 7.44092 6.59533 7.40823 6.42708 7.34286C6.25883 7.27748 6.1069 7.17698 5.97127 7.04136L0.217835 1.2881C0.0688346 1.13898 -0.00372767 0.961542 0.000147333 0.755792C0.00402233 0.550042 0.0804595 0.372666 0.229459 0.223666C0.378459 0.0746662 0.55396 0.000166935 0.75596 0.000166927C0.957835 0.000166918 1.13327 0.0746662 1.28227 0.223666L6.93183 5.87323Z' fill='%23555555'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                            background-color: #f4f4f4;
                            color: #555;
                            padding: 23px 0 23px 23px;
                            display: none; /*숨김*/
                        }
                        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                            display: block;
                            padding: 7px 0;
                        }
                        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span {
                            display: inline-block;
                            position: relative; /*after 정렬의 기준*/
                            padding-right: 20px;
                        }
                        header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a[target="_blank"] > span::after {
                            content: "";
                            position: absolute;
                            right: 0;
                            top: 4px;
                            width: 15px;
                            height: 15px;
                            background-image: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.125 12.125C1.78125 12.125 1.48698 12.0026 1.24219 11.7578C0.997396 11.513 0.875 11.2188 0.875 10.875V2.125C0.875 1.78125 0.997396 1.48698 1.24219 1.24219C1.48698 0.997396 1.78125 0.875 2.125 0.875H5.875C6.05208 0.875 6.20052 0.934896 6.32031 1.05469C6.4401 1.17448 6.5 1.32292 6.5 1.5C6.5 1.67708 6.4401 1.82552 6.32031 1.94531C6.20052 2.0651 6.05208 2.125 5.875 2.125H2.125V10.875H10.875V7.125C10.875 6.94792 10.9349 6.79948 11.0547 6.67969C11.1745 6.5599 11.3229 6.5 11.5 6.5C11.6771 6.5 11.8255 6.5599 11.9453 6.67969C12.0651 6.79948 12.125 6.94792 12.125 7.125V10.875C12.125 11.2188 12.0026 11.513 11.7578 11.7578C11.513 12.0026 11.2188 12.125 10.875 12.125H2.125ZM10.875 3L5.5 8.375C5.38542 8.48958 5.23958 8.54688 5.0625 8.54688C4.88542 8.54688 4.73958 8.48958 4.625 8.375C4.51042 8.26042 4.45312 8.11458 4.45312 7.9375C4.45312 7.76042 4.51042 7.61458 4.625 7.5L10 2.125H8.375C8.19792 2.125 8.04948 2.0651 7.92969 1.94531C7.8099 1.82552 7.75 1.67708 7.75 1.5C7.75 1.32292 7.8099 1.17448 7.92969 1.05469C8.04948 0.934896 8.19792 0.875 8.375 0.875H11.5C11.6771 0.875 11.8255 0.934896 11.9453 1.05469C12.0651 1.17448 12.125 1.32292 12.125 1.5V4.625C12.125 4.80208 12.0651 4.95052 11.9453 5.07031C11.8255 5.1901 11.6771 5.25 11.5 5.25C11.3229 5.25 11.1745 5.1901 11.0547 5.07031C10.9349 4.95052 10.875 4.80208 10.875 4.625V3Z' fill='%23555555'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        header .gnb .gnb_close {
                            display: none;
                            position: fixed;
                            right: 0;
                            top: 0;
                            width: 56px;
                            height: 56px;
                            background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.46634 17.1668L0.833008 15.5335L7.36634 9.00016L0.833008 2.46683L2.46634 0.833496L8.99967 7.36683L15.533 0.833496L17.1663 2.46683L10.633 9.00016L17.1663 15.5335L15.533 17.1668L8.99967 10.6335L2.46634 17.1668Z' fill='%231C1B1F'/%3E%3C/svg%3E%0A");
                            background-position: center center;
                            background-repeat: no-repeat;
                        }
                        header .util {
                            display: none; /*숨김*/
                        }

    /**************모바일 메뉴가 열렸을 때********************/
    header.menu_open .gnb .gnb_wrap {
        display: block; /*나타남*/
    }
    header.menu_open .gnb .gnb_close {
        display: block; /*나타남*/
    }

    /*****************하위메뉴가 열렸을 때*****************************/
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #FF4646;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open:has(ul.depth2) > a::after { 
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.92559 1.56769L1.27602 7.21725C1.12702 7.36625 0.951586 7.43888 0.749711 7.43513C0.547711 7.43125 0.372212 7.35481 0.223212 7.20581C0.0742119 7.05669 -0.000289264 6.88119 -0.000289255 6.67931C-0.000289246 6.47744 0.074212 6.30194 0.223212 6.15281L5.96502 0.399563C6.10065 0.263938 6.25259 0.163438 6.42084 0.0980625C6.58909 0.0326875 6.75734 0 6.92559 0C7.09384 0 7.26209 0.0326875 7.43034 0.0980625C7.59859 0.163438 7.75052 0.263938 7.88615 0.399563L13.6396 6.15281C13.7886 6.30194 13.8611 6.47938 13.8573 6.68513C13.8534 6.89088 13.777 7.06825 13.628 7.21725C13.479 7.36625 13.3035 7.44075 13.1015 7.44075C12.8996 7.44075 12.7241 7.36625 12.5751 7.21725L6.92559 1.56769Z' fill='%23FF4646'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > ul.depth2 {
        display: block; /*나타남*/

    }
}


.visual .swiper-slide {
    height: 900px;
    color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper-slide.bg1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.bg2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.bg3 {
    background-image: url(../images/visual_bg3.jpg);
}
/* .visual .swiper-slide .wrapper { /*하단에 맞춰서 정렬이 들어갔을 경우*/
    /* height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 257px 0; }*/

.visual .swiper-slide p {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    margin: 499px 0 0 0;
}
.visual .btn_wrap {
    position: absolute; /*swiper를 기준으로 정렬*/
    left: 0;
    bottom: 20px;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.visual .btn_wrap button {
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;   
}
.visual .btn_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='6' viewBox='0 0 4 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.306836 3.00684L3.30684 0.00683594L4.00684 0.706836L1.70684 3.00684L4.00684 5.30684L3.30684 6.00684L0.306836 3.00684Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='4' height='7' viewBox='0 0 4 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.78 3.05705L0.820542 6.09705L0.11121 5.40651L2.38013 3.07584L0.0494655 0.806923L0.740007 0.0975903L3.78 3.05705Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='7' viewBox='0 0 7 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33333 6.70817C5.08125 6.70817 4.86545 6.61841 4.68594 6.4389C4.50642 6.25939 4.41667 6.04359 4.41667 5.7915V1.20817C4.41667 0.956087 4.50642 0.740289 4.68594 0.560775C4.86545 0.381261 5.08125 0.291504 5.33333 0.291504C5.58542 0.291504 5.80122 0.381261 5.98073 0.560775C6.16024 0.740289 6.25 0.956087 6.25 1.20817V5.7915C6.25 6.04359 6.16024 6.25939 5.98073 6.4389C5.80122 6.61841 5.58542 6.70817 5.33333 6.70817ZM1.66667 6.70817C1.41458 6.70817 1.19878 6.61841 1.01927 6.4389C0.839757 6.25939 0.75 6.04359 0.75 5.7915V1.20817C0.75 0.956087 0.839757 0.740289 1.01927 0.560775C1.19878 0.381261 1.41458 0.291504 1.66667 0.291504C1.91875 0.291504 2.13455 0.381261 2.31406 0.560775C2.49358 0.740289 2.58333 0.956087 2.58333 1.20817V5.7915C2.58333 6.04359 2.49358 6.25939 2.31406 6.4389C2.13455 6.61841 1.91875 6.70817 1.66667 6.70817Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none;  /*숨김 - 정지버튼을 눌렀을때만 나옴*/
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='7' viewBox='0 0 6 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.66748 6.70866V0.291992L5.70915 3.50033L0.66748 6.70866Z' fill='white'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:1024px) {
    .visual .swiper-slide {
        height: 700px; 
    }
    .visual .swiper-slide p {
        font-size: 45px;
        margin: 350px 0 0 0;
    }
}
@media screen and (max-width:768px) {
    .visual .swiper-slide {
        height: 452px;
    }
    
    .visual .swiper-slide p {
        font-size: 30px;
        margin: 293px 0 0 0;
    }
    .visual .swiper-slide p br {
        display: none; /*줄바꿈삭제*/
    }
    .visual .btn_wrap {
        left: 20px;
        bottom: 10px;
        width: auto;
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }
}


.find {
    background-color: #0A1422;
    color: #fff;
    padding: 162px 0;
}
.find .tit h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.find .list {
    margin: 39px 0 0 0;
}
.find .list .tab_list ul {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.find .list .tab_list ul li button {
    font-size: 25px;
    font-weight: 700;
    padding: 13px 27px 16px 27px;
    border-radius: 50px;
    /*border: 1px solid rgba(255,139,0,0.2);*/
}
.find .list .tab_list ul li.item1.active button {
    background-color: #FF8B00;
}
.find .list .tab_list ul li.item2.active button {
    background-color: #009FE3;
}
.find .list .tab_content {
    margin: 50px 0 0 0;
}
.find .list .tab_content .tab_item {
    display: none; /*숨김*/
}
.find .list .tab_content .tab_item.active {
    display: block; /*나타남*/
}
.find .list .tab_content .tab_item > ul {
    display: flex;
    justify-content: space-between;
}
.find .list .tab_content .tab_item > ul > li {
    width: calc(25% - 18px);
    /*24+24+24 / 1줄에 나타나는 li의 갯수*/
}
.find .list .tab_content .tab_item > ul > li > a {
    display: block;
}
.find .list .tab_content .tab_item > ul > li > a .photo {
    overflow: hidden;
    height: 352px;
    border-radius: 20px;
}
.find .list .tab_content .tab_item > ul > li > a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
/*********마우스 오버효과**********/
.find .list .tab_content .tab_item > ul > li > a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.find .list .tab_content .tab_item > ul > li > a .subject {
    display: flex;
    gap: 18px;
    align-items: center;
    margin: 20px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong {
    padding: 3px 18px 4px 16px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap; 
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_end {
    background-color: #999999;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_lost {
    background-color: #FF8B00;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_see {
    background-color: #009FE3;
}
.find .list .tab_content .tab_item > ul > li > a .subject strong.cate_care {
    background-color: #014289;
}
.find .list .tab_content .tab_item > ul > li > a .subject h4 {
    font-size: 17px;
    font-weight: 700;
    /* 1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.find .list .tab_content .tab_item > ul > li a ul.detail {
    margin: 16px 0 0 0;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li {
    display: flex;
    gap: 18px;
    line-height: 1.8;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li strong {
    color: rgba(255,255,255,0.6);
    white-space: nowrap;
}
.find .list .tab_content .tab_item > ul > li a ul.detail li span {
    /* 1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:1024px) { /*중간사이즈*/
                    .find {
                        padding: 70px 0;
                    }
                    .find .tit h2 {
                        font-size: 35px;
                    }
                    .find .list .tab_list ul li button {
                        font-size: 20px;
                        padding: 15px 25px;
                    }
                    .find .list .tab_content .tab_item > ul {
                        gap: 35px 16px;
                        flex-wrap: wrap; /*줄바꿈 허용*/
                    }
                    .find .list .tab_content .tab_item > ul > li {
                        width: calc(50% - 8px);
                        /*16 / 1줄에 나타나는 li의 갯수*/
                    }
                    .find .list .tab_content .tab_item > ul > li > a .photo {
                        height: 175px;
                        border-radius: 10px;
                    }
}/*@media*/


@media screen and (max-width:768px) {
                        .find {
                            padding: 64px 0;
                        }
                        .find .tit h2 {
                            font-size: 30px;
                        }
                        .find .list {
                            margin: 17px 0 0 0;
                        }
                        .find .list .tab_list ul {
                            gap: 7px;
                        }
                        .find .list .tab_list ul li button {
                            font-size: 16px;
                            padding: 11px 20px;
                        }
                        .find .list .tab_content {
                            margin: 30px 0 0 0;
                        }
                        
                        .find .list .tab_content .tab_item > ul > li > a .subject {
                            display: block;
                            margin: 14px 0 0 0;
                            position: relative; /*strong 카테고리 정렬의 기준*/
                        }
                        .find .list .tab_content .tab_item > ul > li > a .subject strong {
                            position: absolute;
                            left: 0;
                            top: -42px;
                            padding: 2px 14px 3px 15px;
                            border-radius: 10px;
                            font-size: 15px;
                        }
                        .find .list .tab_content .tab_item > ul > li > a .subject h4 {
                            font-size: 16px;
                        }
                        .find .list .tab_content .tab_item > ul > li a ul.detail {
                            margin: 8px 0 0 0;
                        }
                        .find .list .tab_content .tab_item > ul > li a ul.detail li {
                            display: block;
                        }
                        .find .list .tab_content .tab_item > ul > li a ul.detail li:last-child {
                            display: none;
                        }
                        .find .list .tab_content .tab_item > ul > li a ul.detail li strong {
                            display: none;
                        }
                        .find .list .tab_content .tab_item > ul > li a ul.detail li span {
                            color: rgba(255,255,255,0.6);
                            display: block;
                        }
}/*@media*/

.slogan {
    margin: 160px 0 0 0;
}
.slogan .sub_tit {
    font-size: 60px;
    font-weight: 700;
    color: #1d1d1d;
    text-align: center;
}
/* .slogan .sub_tit strong { 
    display: inline-block;
} */ 
    /*글자를 태그로 감싸고 inline-block을 주면 
    줄바꿈이 될때 inline-block으로 묶인 글자는 단락으로 줄바꿈*/
.slogan .sub_tit span {
    display: inline-block;
    color: transparent; /*높이잡히라고 글자쓰고 투명하게 보이게..*/
    position: relative; /*before 정렬의 기준*/
}
.slogan .sub_tit span.item1 {
    width: 1.93em;
    /* 넓이가 116px - 글자크기 60px
        116 / 60 = 1.933333 (브라우저사이즈가 줄때 같이 줄게..)
        1em은 해당 요소에 상속된 글자크기를 1로 봄*/
}
.slogan .sub_tit span.item2 {
    width: 2.3em;
}
.slogan .sub_tit span.item3 {
    width: 2.18em;
}
.slogan .sub_tit span.item4 {
    width: 1.68em;
}

.slogan .sub_tit span::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /*span의 영역 위아래 가운데 좌우에 가운데*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.slogan .sub_tit span.item1::before {
    top: 30%;
    width: 1.86em; 
    height: 1.55em;
    background-image: url(../images/slogan1.png);
}
.slogan .sub_tit span.item2::before {
    width: 2.16em; 
    height: 1.43em;
    background-image: url(../images/slogan2.png);
}
.slogan .sub_tit span.item3::before {
    width: 2.18em; 
    height: 1.51em;
    background-image: url(../images/slogan3.png);
}
.slogan .sub_tit span.item4::before {
    width: 1.58em; 
    height: 1.25em;
    background-image: url(../images/slogan4.png);
}
.slogan .ex {
    margin: 56px 0 0 0;
    text-align: center;
    color: #666;
}
@media screen and (max-width:1300px) {
    .slogan .sub_tit {
        font-size: 50px;
    }
}
@media screen and (max-width:1024px) {
    .slogan .sub_tit {
        font-size: 40px;
    }
    .slogan .ex br {
        display: none;
    }
}
@media screen and (max-width:768px){
                    .slogan {
                        margin: 65px 0 0 0;
                    }
                    .slogan .sub_tit {
                        font-size: 30px;
                    }
                    .slogan .sub_tit br{
                        display: none; /*줄바꿈 금지*/
                    }
                    .slogan .ex {
                        margin: 26px 0 0 0;
                    }
                    .slogan .ex br {
                        display: none;
                    }
}

.adopt {
    margin: 135px 0 0 0;
    padding: 160px 0 292px 0;
    background-color: #0A1422;
    color: #fff;
    text-align: center;
    position: relative; /*rolling 정렬의 기준*/;
}
.adopt .tit h2  {
    
    font-size: 45px;
    font-weight: 700;
}
.adopt .list {
    margin: 56px 0 0 0;
}
.adopt .list .swiper-slide {
    width: 300px;
}
.adopt .list .swiper-slide a {
    display: block;
}
.adopt .list .swiper-slide a .photo {
    overflow: hidden;
    height: 300px;
    border-radius: 50%; /*동그라미*/
}
.adopt .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.adopt .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}

.adopt .list .swiper-slide a strong {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    padding: 4px 18px 4px 16px;
    background-color: #FF8B00;
    border-radius: 20px;
    display: inline-block;
    transform: translateY(-17px);
}
.adopt .list .swiper-slide a h3 {
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 7px 0;
}
.adopt .list .swiper-slide a p {
    color: #fff;
    /*1줄 제한*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.adopt .list .swiper-slide a strong.cate_care {
    background-color: #009FE3;
}

.adopt .list_ctrl {
    margin: 51px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.adopt .list_ctrl button {
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.0271466 6.58674L6.19029 0.310114L7.65484 1.74818L2.92976 6.56026L7.74184 11.2853L6.30377 12.7499L0.0271466 6.58674Z' fill='white'/%3E%3C/svg%3E%0A");
}
.adopt .list_ctrl button.btn_next {
    transform: rotate(180deg);
}
.adopt .list_ctrl .more {
    line-height: 34px;
    height: 34px;
    border: 1px solid #fff;
    border-radius: 17px;
    padding: 0 40px 0 22px;
    position: relative; /*before 정렬의 기준*/
}
.adopt .list_ctrl .more::before {
    content: "";
    position: absolute;
    right: 20px;
    top: 9px;
    width: 13px;
    height: 13px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.72705 7.99951H0.727051V5.99951H6.72705V-0.000488281H8.72705V5.99951H14.7271V7.99951H8.72705V13.9995H6.72705V7.99951Z' fill='white'/%3E%3C/svg%3E%0A");

}
.adopt .rolling {
    position: absolute; /*adopt를 기준으로 정렬*/
    left: 0;
    bottom: 82px;
    width: 100%;
}
.adopt .rolling p {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 100px;
    font-weight: 700;
    color: rgba(255,255,255,0.2);
    white-space: nowrap; /*1줄*/
    text-transform: uppercase; /*대문자로 변경*/

    animation-name: rolling;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /*가속도 삭제*/
}
@keyframes rolling {
    0% { left: 0;}
    100% { left: -37.42em;}

}
@media screen and (max-width:768px) {
                .adopt {
                    margin: 65px 0 0 0;
                    padding: 70px 0 160px 0;
                }
                .adopt .tit h2  {
                    font-size: 30px;
                }
                .adopt .list {
                    margin: 39px 0 0 0;
                }
                .adopt .list .swiper {
                    padding-left: 16px;
                }
                .adopt .list .swiper-slide {
                    width: 170px;
                }
                .adopt .list .swiper-slide a .photo {
                    height: 170px;
                }
                .adopt .list .swiper-slide a strong {
                    font-size: 15px;
                    padding: 3px 14px 2px 15px;
                    transform: translateY(-14px);
                }
                .adopt .list .swiper-slide a h3 {
                    font-size: 16px;
                    margin: 0 0 5px 0;
                }
                .adopt .list_ctrl {
                    margin: 39px 0 0 0; 
                }
                .adopt .list_ctrl button {
                    display: none; 
                }
                .adopt .rolling {
                    bottom: 34px; 
                }
                .adopt .rolling p {
                    font-size: 60px;
                
                }
}/*@media*/

@media screen and (max-width:1024px) {
                .adopt .tit h2  {
                    font-size: 40px;
                }
                .adopt .list .swiper-slide {
                    width: 230px;
                }
                .adopt .list .swiper-slide a .photo {
                    height: 230px;
                }
                .adopt .rolling p {
                    font-size: 80px;
                
                }
}/*@media*/

.review {
    margin: 135px 0 0 0;
}
.review .wrapper {
    position: relative; /*more 정렬의 기준*/
}
.review .tit h2 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    padding: 0 0 41px 0; /*선까지의 여백*/
    position: relative ; /*after를 기준으로 정렬*/
}
.review .tit h2::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); /*나의 넓이의 절반을 왼쪽으로 */
    width: 100vw; /*브라우저 넓이*/
    height: 3px;
    background-color: #d9d9d9;
}
.review .tit h2 strong {
    position: relative; /*after 정렬의 기준*/
}
.review .tit h2 strong::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -46px;
    z-index: 10;
    width: 100%;
    height: 3px;
    background-color: #E76020;
}
.review .list {
    margin: 44px 0 0 0;
    position: relative; /*이전다음버튼 정렬의 기준*/
}
.review .list .swiper-slide a {
    display: block;
}
.review .list .swiper-slide a .photo {
    overflow: hidden;
    height: 316px;
}
.review .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /*사진을 자르지 않고 모두 보이게*/
    transition: 0.5s;
}
.review .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2,1.2,1);
}
.review .list .swiper-slide a h3 {
    margin: 23px 0 8px 0;
    font-weight: 700;
    line-height: 1.2;
    color: #1d1d1d;
    /*1줄 제한*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.review .list .swiper-slide a p {
    /*2줄 제한*/
    line-height: 1.5;
    height: 3em; /*행간 x 줄수 = 단위는 em*/
    overflow: hidden;
    /*2줄이상 제한에도 끝에...추가*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*줄수*/
}
.review .list .btn_prev,
.review .list .btn_next {
    position: absolute;
    top: 182px;
    width: 40px;
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='32' viewBox='0 0 18 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.91667 15.9997L17.1667 28.2497C17.5833 28.6664 17.7847 29.1525 17.7708 29.708C17.7569 30.2636 17.5417 30.7497 17.125 31.1664C16.7083 31.583 16.2222 31.7914 15.6667 31.7914C15.1111 31.7914 14.625 31.583 14.2083 31.1664L1.375 18.3747C1.04167 18.0414 0.791667 17.6664 0.625 17.2497C0.458333 16.833 0.375 16.4164 0.375 15.9997C0.375 15.583 0.458333 15.1664 0.625 14.7497C0.791667 14.333 1.04167 13.958 1.375 13.6247L14.2083 0.791362C14.625 0.374696 15.1181 0.173307 15.6875 0.187195C16.2569 0.201084 16.75 0.416362 17.1667 0.833029C17.5833 1.2497 17.7917 1.73581 17.7917 2.29136C17.7917 2.84692 17.5833 3.33303 17.1667 3.7497L4.91667 15.9997Z' fill='%23494949'/%3E%3C/svg%3E%0A");
}
.review .list .btn_prev {
    left: -60px;
}
.review .list .btn_next {
    right: -60px;
    transform: rotate(180deg);
}
.review .more {
    position: absolute; /*wrapper를 기준으로 정렬*/
    right: 0;
    top: 0;
    display: flex; /*strong과 span 좌우로 배치*/
    align-items: center;
    gap: 10px;
    padding-right: 45px;
}
.review .more::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10px;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 28.375C14.0632 28.375 13.697 28.2273 13.4016 27.9318C13.1061 27.6363 12.9583 27.2701 12.9583 26.8333V16.0417H2.16667C1.72986 16.0417 1.36372 15.8939 1.06823 15.5984C0.772743 15.303 0.625 14.9368 0.625 14.5C0.625 14.0632 0.772743 13.697 1.06823 13.4016C1.36372 13.1061 1.72986 12.9583 2.16667 12.9583H12.9583V2.16667C12.9583 1.72986 13.1061 1.36372 13.4016 1.06823C13.697 0.772743 14.0632 0.625 14.5 0.625C14.9368 0.625 15.303 0.772743 15.5984 1.06823C15.8939 1.36372 16.0417 1.72986 16.0417 2.16667V12.9583H26.8333C27.2701 12.9583 27.6363 13.1061 27.9318 13.4016C28.2273 13.697 28.375 14.0632 28.375 14.5C28.375 14.9368 28.2273 15.303 27.9318 15.5984C27.6363 15.8939 27.2701 16.0417 26.8333 16.0417H16.0417V26.8333C16.0417 27.2701 15.8939 27.6363 15.5984 27.9318C15.303 28.2273 14.9368 28.375 14.5 28.375Z' fill='%23494949'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.review .more strong {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.2;
    color: #E76020;
}
@media screen and (max-width:1400px) {
                .review .list .btn_prev,
                .review .list .btn_next {
                    display: none; /*숨김*/
                }
}/*@media*/
@media screen and (max-width:1024px) {
                .review .tit h2 {
                    font-size: 40px;
                }
                .review .more strong {
                    font-size: 40px;
                }
}/*@media*/

@media screen and (max-width:768px) {
                    .review .list .swiper-slide {
                        width: 200px;
                    }

                    .review {
                        margin: 64px 0 0 0;
                    }
                    .review .tit h2 {
                        font-size: 30px;
                        padding: 0 0 21px 0; /*선까지의 여백*/
                    }
                    .review .tit h2 strong::after{
                        bottom: -24px;
                    }
                    .review .list {
                        margin: 20px 0 0 0;
                    }
                    
                    .review .list .swiper-slide a .photo {
                        height: 174px;
                    }
                    .review .list .swiper-slide a h3 {
                        margin: 19px 0 6px 0;
                    }
                    
                    .review .more {
                        top: 6px;
                        padding-right: 0;
                        width: 25px;
                        height: 25px;
                    }
                    .review .more::after {
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-size: contain;
                    }
                    .review .more strong,
                    .review .more span {
                        display: none;
                    }
                   
}/*@media*/

footer {
    margin: 93px 0 0 0;
    background-color: #060505;
    padding: 103px 0 86px 0;
    color: #fff;
    position: relative; /*top돌돌 정렬의 기준*/
}
footer .wrapper {
    display: flex; /*link_wrap info_wrap 좌우배치*/
    flex-direction: row-reverse;
    justify-content: space-between;
}
footer .top {
    position: absolute;
    right: 20px;
    top: -50px;
    mix-blend-mode: difference; 
    /*반전- 흰색배경에서는 검은색(배경색과 반대로)
      배경색이 흰색이라면 진짜 흰색 배경색을 깔아줘야 함 - 그래야 적용이 됨
      => body에 흰색을 주면 됨*/
      animation-name: rotate;
      animation-duration: 5s;
      animation-iteration-count: infinite; /*무제한*/
      animation-timing-function: linear; /*가속도 삭제*/
}
@keyframes rotate {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}
footer .link_wrap ul.link li {
    margin: 0 0 10px 0;  /*link_wrap 행간 뗄려고 줌*/
}
footer .link_wrap ul.link li a {
    display: block;
    text-align: right;
    padding-right: 19px;
    position: relative; /*after 정렬의 기준*/
}
footer .link_wrap ul.link li a::after {
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    right: 0;
    top: 4px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 12C0.966667 12 0.652778 11.8694 0.391667 11.6083C0.130556 11.3472 0 11.0333 0 10.6667V1.33333C0 0.966667 0.130556 0.652778 0.391667 0.391667C0.652778 0.130556 0.966667 0 1.33333 0H5.33333C5.52222 0 5.68056 0.0638889 5.80833 0.191667C5.93611 0.319444 6 0.477778 6 0.666667C6 0.855556 5.93611 1.01389 5.80833 1.14167C5.68056 1.26944 5.52222 1.33333 5.33333 1.33333H1.33333V10.6667H10.6667V6.66667C10.6667 6.47778 10.7306 6.31944 10.8583 6.19167C10.9861 6.06389 11.1444 6 11.3333 6C11.5222 6 11.6806 6.06389 11.8083 6.19167C11.9361 6.31944 12 6.47778 12 6.66667V10.6667C12 11.0333 11.8694 11.3472 11.6083 11.6083C11.3472 11.8694 11.0333 12 10.6667 12H1.33333ZM10.6667 2.26667L4.93333 8C4.81111 8.12222 4.65556 8.18333 4.46667 8.18333C4.27778 8.18333 4.12222 8.12222 4 8C3.87778 7.87778 3.81667 7.72222 3.81667 7.53333C3.81667 7.34444 3.87778 7.18889 4 7.06667L9.73333 1.33333H8C7.81111 1.33333 7.65278 1.26944 7.525 1.14167C7.39722 1.01389 7.33333 0.855556 7.33333 0.666667C7.33333 0.477778 7.39722 0.319444 7.525 0.191667C7.65278 0.0638889 7.81111 0 8 0H11.3333C11.5222 0 11.6806 0.0638889 11.8083 0.191667C11.9361 0.319444 12 0.477778 12 0.666667V4C12 4.18889 11.9361 4.34722 11.8083 4.475C11.6806 4.60278 11.5222 4.66667 11.3333 4.66667C11.1444 4.66667 10.9861 4.60278 10.8583 4.475C10.7306 4.34722 10.6667 4.18889 10.6667 4V2.26667Z' fill='white' fill-opacity='0.6'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.sns {
    margin: 33px 0 0 0;
    display: flex;
    gap: 5px;
}
footer .link_wrap ul.sns li a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-position: center center;
    background-repeat: no-repeat;
}
footer .link_wrap ul.sns li.facebook a {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='25' viewBox='0 0 13 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.1547 14.0612L12.8296 9.5355H8.60986V6.60258C8.60986 5.36766 9.19612 4.16082 11.0844 4.16082H13V0.308725C13 0.308725 11.2617 0 9.59833 0C6.12848 0 3.85842 2.16812 3.85842 6.09037V9.5355H0V14.0612H3.85842V25H8.60986V14.0612H12.1547Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.twitter a {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.8981 2.15271C20.2335 2.46599 19.4961 2.658 18.7733 2.78433C19.1129 2.72369 19.6174 2.08197 19.8163 1.81921C20.1219 1.42003 20.379 0.970311 20.5197 0.480172C20.5391 0.439749 20.5537 0.394274 20.5197 0.363956C20.4712 0.343744 20.4421 0.353852 20.4081 0.374064C19.6028 0.823779 18.7733 1.14716 17.8903 1.3796C17.8176 1.39981 17.7642 1.3796 17.7157 1.33413C17.6429 1.24823 17.575 1.16738 17.4974 1.10169C17.1238 0.77325 16.726 0.515544 16.2797 0.323531C15.6878 0.0708827 15.0426 -0.0352272 14.4071 0.0102495C13.791 0.0506733 13.1797 0.23258 12.6315 0.530705C12.0833 0.828831 11.5885 1.24823 11.2004 1.74847C10.7977 2.26893 10.4969 2.88034 10.3466 3.53217C10.201 4.15874 10.2107 4.78025 10.3029 5.41693C10.3174 5.52304 10.3029 5.5382 10.2156 5.52305C6.75661 4.98743 3.8895 3.69892 1.56573 0.934945C1.46386 0.813673 1.41048 0.813668 1.32801 0.945045C0.309238 2.53673 0.804074 5.08849 2.07511 6.34162C2.24491 6.50837 2.41956 6.67512 2.60876 6.82671C2.54084 6.84186 1.69186 6.74586 0.939912 6.34162C0.838035 6.27594 0.789514 6.3113 0.779811 6.43257C0.770108 6.60438 0.77981 6.76102 0.808918 6.94798C1.00297 8.55988 2.07511 10.0505 3.54505 10.6316C3.7197 10.7074 3.91376 10.7731 4.09811 10.8085C3.76337 10.8842 3.41891 10.9398 2.46321 10.859C2.34193 10.8337 2.29827 10.8994 2.34193 11.0156C3.06477 13.0621 4.61718 13.6684 5.78149 14.0171C5.93673 14.0474 6.09197 14.0474 6.25207 14.0828C6.24236 14.0979 6.23266 14.0979 6.22296 14.1131C5.83486 14.7245 4.4959 15.1843 3.87494 15.4117C2.73973 15.8261 1.5075 16.008 0.309235 15.8867C0.115184 15.8564 0.076375 15.8614 0.0230109 15.8867C-0.0303533 15.9221 0.0181673 15.9675 0.0763827 16.0181C0.318947 16.1848 0.566363 16.3314 0.81863 16.4779C1.58028 16.8973 2.37589 17.2308 3.20546 17.4733C7.494 18.7062 12.321 17.8018 15.5374 14.4719C18.065 11.8544 18.9528 8.2466 18.9528 4.63877C18.9528 4.49729 19.1128 4.4215 19.2099 4.3457C19.8696 3.8303 20.3984 3.21383 20.8884 2.52663C21 2.36999 21 2.23355 21 2.17797V2.15776C21 2.10218 21 2.11734 20.9127 2.15776L20.8981 2.15271Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.naver a {
    background-image: url("data:image/svg+xml,%3Csvg width='21' height='19' viewBox='0 0 21 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 0V19H13.9532L7.04683 9.43466V19H0V0H7.04683L13.9532 9.94989V0H21Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .link_wrap ul.sns li.daum a {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.68755 0.00325613H0V21H9.68755C15.3822 21 20 16.2982 20 10.5C20 4.70183 15.3822 0 9.68755 0V0.00325613ZM9.88944 14.2752H6.40923V6.72809H9.88944C11.9372 6.72809 13.594 8.41827 13.594 10.5C13.594 12.5817 11.934 14.2719 9.88944 14.2719V14.2752Z' fill='white'/%3E%3C/svg%3E%0A");
}
footer .info_wrap .info ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 41px; /*위아래 좌우*/
    margin: 0 0 14px 0;
}
footer .info_wrap .info ul li {
    position: relative; /*before 정렬의 기준*/
}
footer .info_wrap .info ul li::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 7px;
    height: 12px;
    width: 1px;
    background-color: rgba(255,255,255,0.2);
}
footer .info_wrap .info ul li:last-child::after {
    display: none; 
}
footer .info_wrap .coptright {
    margin: 56px 0 0 0;
    color: rgba(255,255,255,0.8);

}

@media screen and (max-width:1024px) {
    footer {
        margin: 46px 0 0 0;
        padding: 65px 0 49px 0;
    }
    footer .wrapper {
        display: block; 
    }
    footer .top {
        display: none;
    }
    footer .link_wrap ul.link  {
        display: none; 
    }
    footer .link_wrap ul.sns {
        margin: 0;
        gap: 4px;
    }
    footer .link_wrap ul.sns li a {
        width: 30px;
        height: 30px;
    }
    footer .link_wrap ul.sns li.facebook a {
        background-size: 8px;    
    }
    footer .link_wrap ul.sns li.twitter a {
        background-size: 13px;    
    }
    footer .link_wrap ul.sns li.naver a {
        background-size: 13px;    
    }
    footer .link_wrap ul.sns li.daum a {
        background-size: 12px;    
    }
    footer .info_wrap {
        margin: 24px 0 0 0;
    }
    footer .info_wrap .info ul {
        margin: 0 0 12px 0;
    }
    footer .info_wrap .coptright {
        margin: px 0 0 0;
    }
}/*@media */
