@import url(default.css);
@import url(font.css);
@import url(common.css);

.story {
    margin: 181px 0 0 0;
}
.story .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.story .tit {
    position: sticky;
    top: 0;
}
.story .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    margin: 15px 0 26px 0;
 }
 .story .list {
    width: 65.39%;
    margin: 178px 0 0 0;
 }
 .story .list ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
 }
 .story .list ul li {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: calc(50% - 12px);
    height: 500px;
 }
 .story .list ul li:nth-child(even) {
    transform: translateY(-166px);
 }
 .story .list > ul > li > a {
    display: block;
 }
 .story .list ul li .photo {
    height: 309px;
    overflow: hidden;

 }
 .story .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
 }
 .story .list ul li .txt {
    text-align: center;
    margin: 19px 0 16px 0;
 }
 .story .list ul li .txt h3 {
    font-size: var(--sub-font-size);
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    margin: 0 0 16px 0;
 }
 .story .list ul li .txt span {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 36px;
    height: 36px;
 }


 
.notice .popupzone .swiper-slide {
   border: 1px solid #ccc;
   border-radius: 20px;
   width: 535px;
   height: 367px;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
}
.notice .popupzone .swiper-slide.pop1 {
   background-image: url(../images/popup01.jpg);
}
.notice .popupzone .swiper-slide.pop2 {
   background-image: url(../images/popup02.jpg);
}
.notice .popupzone .swiper-slide.pop3 {
   background-image: url(../images/popup03.jpg);
}
.notice .popupzone .swiper-slide.pop4 {
   background-image: url(../images/popup04.jpg);
}




@media screen and (max-width:768px) {
                        .notice {
                            padding: 59px 0 40px 0;
                        }
                        .notice .wrapper {
                            display: block;
                        }
                        .notice .news {
                            width: auto;
                        }
                        .notice .news .tit h3 {
                            padding: 10px 0 39px 0;
                        }
                        .notice .news .list ul li a {
                            padding: 28px 0 26px 0;
                        }
                        .notice .news .list ul li a span {
                            font-size: 0.88rem;
                            width: 104px;
                        }
                        .notice .news .more {
                            width: 27px;
                            height: 27px;
                            right: 0;
                            top: 46px;
                        }
                        .notice .news .more::after {
                            background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.4165 5.58366H0.916504V4.41699H4.4165V0.916992H5.58317V4.41699H9.08317V5.58366H5.58317V9.08366H4.4165V5.58366Z' fill='%23555555'/%3E%3C/svg%3E%0A");                            background-position: center center;
                            background-repeat: no-repeat;
                            right: 0;
                            top: 0;
                        }
                        .notice .popupzone{
                            width: auto;
                        }
                        .notice .popupzone h2 {
                            font-size: var(--tit-font-size);
                            font-weight: var(--bold-weight);
                            line-height: var(--tit-line-height);
                            color: var(--tit-font-color);
                            margin: 37px 0 15px 0;
                        }
                        .notice .popupzone .swiper {
                            width: auto;
                        }
                        .notice .popupzone .swiper ul li {
                            border-radius: 10px;
                        }
                        .notice .popupzone .swiper-slide img {
                            border-radius: 10px;
                        }
                        .notice .popupzone .ctrl_nav {
                            width: 107px;
                            border-top-left-radius: 10px;
                            border-bottom-right-radius: 10px;
                        }
                        .notice .popupzone .ctrl_nav .ctrl_wrap {
                            gap: 5px;
                            margin: 7px 0 0 7px;
                        }
                        .notice .popupzone .ctrl_nav .ctrl_wrap .count {
                            font-size: 0.87rem;
                        }
}