@import url(default.css);
@import url(font.css);
@import url(common.css);
/* index페이지 - 메인페이지에만 적용되는 스타일 정의*/
/* 그리고 다른 css를 호출*/
header {
    position: absolute; /*wrap기준으로 정렬*/
    left: 0;
    top: 0;
    z-index: 100; /*position 속성이 있는 요소끼리 순서따져주는 것, 제일 높은숫자가 젤 위(무조건주기..)*/
    color: #fff;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: flex; /*상단에 좌 가운데 우 배치하려고*/
    align-items: center; /*로고가 헤더에 위아래 가운데쯤..*/
    justify-content: space-between;
    padding: 0 30px;
}
header .logo a {
    display: block;
    width: 144px;
    height: 53px;
    background: url(../images/logo.svg) no-repeat center center / contain; 
    /*로고나 아이콘을 배경으로 지정할때만 contain, 이미지를 배경으로 넣으면 ^ cover*/
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block; /*a를 만나면 필수*/
    padding: 0 30px;
    line-height: 100px; /* header의 높이와 같은 값*/
    font-size: 25px;
    font-weight: 700;
}

header .tnb {
    display: flex; /*a를 좌우로 배치*/
    gap: 10px;
}
header .tnb a {
    display: block;
    /*width: 70px; (칸을 그려서 했다면..)
    text-align: center;*/
    position: relative; /*before 정렬의 기준*/
    padding: 25px 0 0 0; /*아이콘이 들어갈 자리를 마련해주기 위해 글자 아래로 보내려고..*/
    font-size: 15px;
}
header .tnb a::before {
    content: ""; /*필수*/
    position: absolute; /*a를 기준으로 정렬*/
    /*absolute 가운데*/
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
header .tnb a.icon01::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_171' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_171)'%3E%3Cpath d='M11 5V1H13V5H11ZM17.65 7.75L16.275 6.375L19.075 3.5L20.475 4.925L17.65 7.75ZM19 13V11H23V13H19ZM11 23V19H13V23H11ZM6.35 7.7L3.5 4.925L4.925 3.525L7.75 6.35L6.35 7.7ZM19.05 20.5L16.275 17.625L17.625 16.275L20.475 19.025L19.05 20.5ZM1 13V11H5V13H1ZM4.925 20.5L3.525 19.075L6.325 16.275L7.05 16.95L7.775 17.65L4.925 20.5ZM12 18C10.3333 18 8.91667 17.4167 7.75 16.25C6.58333 15.0833 6 13.6667 6 12C6 10.3333 6.58333 8.91667 7.75 7.75C8.91667 6.58333 10.3333 6 12 6C13.6667 6 15.0833 6.58333 16.25 7.75C17.4167 8.91667 18 10.3333 18 12C18 13.6667 17.4167 15.0833 16.25 16.25C15.0833 17.4167 13.6667 18 12 18ZM12 16C13.1 16 14.0417 15.6083 14.825 14.825C15.6083 14.0417 16 13.1 16 12C16 10.9 15.6083 9.95833 14.825 9.175C14.0417 8.39167 13.1 8 12 8C10.9 8 9.95833 8.39167 9.175 9.175C8.39167 9.95833 8 10.9 8 12C8 13.1 8.39167 14.0417 9.175 14.825C9.95833 15.6083 10.9 16 12 16Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon02::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_165' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_165)'%3E%3Cpath d='M3.80042 22H3.00042V20H3.80042C4.60042 20 5.36292 19.9125 6.08792 19.7375C6.81292 19.5625 7.62542 19.2833 8.52542 18.9C9.15875 19.2167 9.71292 19.4792 10.1879 19.6875C10.6629 19.8958 11.2671 20 12.0004 20C12.7338 20 13.3379 19.8958 13.8129 19.6875C14.2879 19.4792 14.8421 19.2167 15.4754 18.9C16.3588 19.2833 17.1713 19.5625 17.9129 19.7375C18.6546 19.9125 19.4254 20 20.2254 20H21.0004V22H20.2254C19.4088 22 18.6129 21.925 17.8379 21.775C17.0629 21.625 16.3004 21.4 15.5504 21.1C14.8838 21.4167 14.2754 21.6417 13.7254 21.775C13.1754 21.9083 12.6004 21.975 12.0004 21.975C11.4004 21.975 10.8296 21.9083 10.2879 21.775C9.74625 21.6417 9.14209 21.4167 8.47542 21.1C7.72542 21.4 6.96292 21.625 6.18792 21.775C5.41292 21.925 4.61709 22 3.80042 22ZM12.0004 18C11.0004 18 10.1254 17.6667 9.37542 17L8.25042 16C7.80042 16.45 7.29625 16.8333 6.73792 17.15C6.17959 17.4667 5.58375 17.6917 4.95042 17.825L2.82542 11C2.74209 10.7167 2.76709 10.4583 2.90042 10.225C3.03375 9.99167 3.24209 9.83333 3.52542 9.75L5.00042 9.35V6C5.00042 5.45 5.19625 4.97917 5.58792 4.5875C5.97959 4.19583 6.45042 4 7.00042 4H9.50042V2H14.5004V4H17.0004C17.5504 4 18.0213 4.19583 18.4129 4.5875C18.8046 4.97917 19.0004 5.45 19.0004 6V9.35L20.4754 9.75C20.7588 9.83333 20.9671 9.99167 21.1004 10.225C21.2338 10.4583 21.2588 10.7167 21.1754 11L19.0504 17.825C18.4171 17.6917 17.8213 17.4667 17.2629 17.15C16.7046 16.8333 16.2004 16.45 15.7504 16L14.6254 17C13.8754 17.6667 13.0004 18 12.0004 18ZM12.0504 16C12.5671 16 13.0254 15.8292 13.4254 15.4875C13.8254 15.1458 14.1921 14.7833 14.5254 14.4L15.6754 13.075L16.7004 14.125C16.8838 14.3083 17.0713 14.4792 17.2629 14.6375C17.4546 14.7958 17.6421 14.9583 17.8254 15.125L18.9754 11.4L12.0004 9.575L5.05042 11.4L6.20042 15.125C6.38375 14.9583 6.57125 14.7958 6.76292 14.6375C6.95459 14.4792 7.14209 14.3083 7.32542 14.125L8.35042 13.075L9.50042 14.4C9.83375 14.8 10.2088 15.1667 10.6254 15.5C11.0421 15.8333 11.5171 16 12.0504 16ZM7.00042 8.825L12.0004 7.5L17.0004 8.825V6H7.00042V8.825Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
header .tnb a.icon03::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_12_168' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_12_168)'%3E%3Cpath d='M3 5V3H6V5H3ZM6.125 10.325L4.7 8.925L6.825 6.8L8.25 8.2L6.125 10.325ZM12 8C10.6167 8 9.4375 7.5125 8.4625 6.5375C7.4875 5.5625 7 4.38333 7 3H9C9 3.83333 9.29167 4.54167 9.875 5.125C10.4583 5.70833 11.1667 6 12 6C12.8333 6 13.5417 5.70833 14.125 5.125C14.7083 4.54167 15 3.83333 15 3H17C17 4.38333 16.5125 5.5625 15.5375 6.5375C14.5625 7.5125 13.3833 8 12 8ZM11 12V9H13V12H11ZM17.875 10.325L15.775 8.2L17.175 6.8L19.3 8.9L17.875 10.325ZM18 5V3H21V5H18ZM2 21V19C2.63333 19 3.10417 18.8333 3.4125 18.5C3.72083 18.1667 4.36667 18 5.35 18C6.33333 18 6.97917 18.1667 7.2875 18.5C7.59583 18.8333 8.05 19 8.65 19C9.28333 19 9.75417 18.8333 10.0625 18.5C10.3708 18.1667 11.0167 18 12 18C12.95 18 13.5958 18.1667 13.9375 18.5C14.2792 18.8333 14.75 19 15.35 19C15.9833 19 16.4458 18.8333 16.7375 18.5C17.0292 18.1667 17.6667 18 18.65 18C19.6333 18 20.2792 18.1667 20.5875 18.5C20.8958 18.8333 21.3667 19 22 19V21C21.05 21 20.4042 20.8333 20.0625 20.5C19.7208 20.1667 19.25 20 18.65 20C18.05 20 17.5958 20.1667 17.2875 20.5C16.9792 20.8333 16.3333 21 15.35 21C14.4 21 13.7542 20.8333 13.4125 20.5C13.0708 20.1667 12.6 20 12 20C11.3667 20 10.8958 20.1667 10.5875 20.5C10.2792 20.8333 9.63333 21 8.65 21C7.66667 21 7.02917 20.8333 6.7375 20.5C6.44583 20.1667 5.98333 20 5.35 20C4.71667 20 4.24583 20.1667 3.9375 20.5C3.62917 20.8333 2.98333 21 2 21ZM2 17V15C2.63333 15 3.10417 14.8333 3.4125 14.5C3.72083 14.1667 4.36667 14 5.35 14C6.3 14 6.9375 14.1667 7.2625 14.5C7.5875 14.8333 8.05 15 8.65 15C9.28333 15 9.75417 14.8333 10.0625 14.5C10.3708 14.1667 11.0167 14 12 14C12.95 14 13.5917 14.1667 13.925 14.5C14.2583 14.8333 14.7167 15 15.3 15C15.9333 15 16.4042 14.8333 16.7125 14.5C17.0208 14.1667 17.6667 14 18.65 14C19.6 14 20.2458 14.1667 20.5875 14.5C20.9292 14.8333 21.4 15 22 15V17C21.0167 17 20.3625 16.8333 20.0375 16.5C19.7125 16.1667 19.25 16 18.65 16C18.05 16 17.5958 16.1667 17.2875 16.5C16.9792 16.8333 16.3333 17 15.35 17C14.4 17 13.7542 16.8333 13.4125 16.5C13.0708 16.1667 12.6 16 12 16C11.3667 16 10.9042 16.1667 10.6125 16.5C10.3208 16.8333 9.68333 17 8.7 17C7.71667 17 7.0625 16.8333 6.7375 16.5C6.4125 16.1667 5.95 16 5.35 16C4.75 16 4.27917 16.1667 3.9375 16.5C3.59583 16.8333 2.95 17 2 17Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}


.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    height: 100vh; /* 브라우저 높이에 딱 맞게*/
    min-height: 600px; /* 높이가 늘변하는 것은 막지 않지만 최소한 600px되야 함..*/
    display: flex;
    align-items: center;
    justify-content: center;
    /* 은하수 사진공방은 absolute라서 제외
    h2만 wrapper의 영역 안에서 정렬하기 위해서 flex*/
    position: relative; /*picture 정렬의 기준*/
}

.visual .picture {
    position: absolute; /* wrapper를 기준으로 정렬 ,before기준의 정렬*/
    right: 0;
    bottom: 0;
    transform: translate(50%, 50%); /* 나의 넓이의 절반을 오른쪽으로 이동 50%,
                                      나의 높이의 절반을 아래로 이동 50%*/
    width: 180px;
    height: 180px;
    border-radius: 50%; /*은하수 사진공방 동그라미*/
    background-color: #1E3A5F;
    color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); /*동그라미 그림자*/
    text-align: center;
    padding: 86px 0 0 0;
}
.visual .picture::before { /*아이콘*/
    content: ""; /*필수*/
    position: absolute; /*picture를 기준으로 정렬*/
    top: 43px;
    /*좌우의 가운데*/
    left: 50%;
    transform: translateX(-50%);
    width: 38px;
    height: 38px;
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_43' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_43)'%3E%3Cpath d='M4.74967 33.2497C3.87884 33.2497 3.13336 32.9396 2.51322 32.3195C1.89308 31.6993 1.58301 30.9538 1.58301 30.083V11.083C1.58301 10.2122 1.89308 9.46669 2.51322 8.84655C3.13336 8.22641 3.87884 7.91634 4.74967 7.91634H9.73717L12.6663 4.74967H22.1663V7.91634H14.0518L11.1622 11.083H4.74967V30.083H30.083V15.833H33.2497V30.083C33.2497 30.9538 32.9396 31.6993 32.3195 32.3195C31.6993 32.9396 30.9538 33.2497 30.083 33.2497H4.74967ZM30.083 11.083V7.91634H26.9163V4.74967H30.083V1.58301H33.2497V4.74967H36.4163V7.91634H33.2497V11.083H30.083ZM17.4163 27.708C19.3955 27.708 21.0778 27.0153 22.4632 25.6299C23.8486 24.2445 24.5413 22.5622 24.5413 20.583C24.5413 18.6038 23.8486 16.9215 22.4632 15.5361C21.0778 14.1507 19.3955 13.458 17.4163 13.458C15.4372 13.458 13.7549 14.1507 12.3695 15.5361C10.984 16.9215 10.2913 18.6038 10.2913 20.583C10.2913 22.5622 10.984 24.2445 12.3695 25.6299C13.7549 27.0153 15.4372 27.708 17.4163 27.708ZM17.4163 24.5413C16.308 24.5413 15.3712 24.1587 14.6059 23.3934C13.8406 22.6281 13.458 21.6913 13.458 20.583C13.458 19.4747 13.8406 18.5379 14.6059 17.7726C15.3712 17.0073 16.308 16.6247 17.4163 16.6247C18.5247 16.6247 19.4615 17.0073 20.2268 17.7726C20.992 18.5379 21.3747 19.4747 21.3747 20.583C21.3747 21.6913 20.992 22.6281 20.2268 23.3934C19.4615 24.1587 18.5247 24.5413 17.4163 24.5413Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
/********************마우스를 오버했을 때 은하수사진공방 바뀌는것***************/
.visual .picture:hover {
    background-color: #1976D3;
    color: #fff;
}
.visual .picture:hover::before {
/*아이콘 색깔 바뀔때 코드 카피해서 가져오기*/
background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_48_779' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_48_779)'%3E%3Cpath d='M4.74967 33.2497C3.87884 33.2497 3.13336 32.9396 2.51322 32.3195C1.89308 31.6993 1.58301 30.9538 1.58301 30.083V11.083C1.58301 10.2122 1.89308 9.46669 2.51322 8.84655C3.13336 8.22641 3.87884 7.91634 4.74967 7.91634H9.73717L12.6663 4.74967H22.1663V7.91634H14.0518L11.1622 11.083H4.74967V30.083H30.083V15.833H33.2497V30.083C33.2497 30.9538 32.9396 31.6993 32.3195 32.3195C31.6993 32.9396 30.9538 33.2497 30.083 33.2497H4.74967ZM30.083 11.083V7.91634H26.9163V4.74967H30.083V1.58301H33.2497V4.74967H36.4163V7.91634H33.2497V11.083H30.083ZM17.4163 27.708C19.3955 27.708 21.0778 27.0153 22.4632 25.6299C23.8486 24.2445 24.5413 22.5622 24.5413 20.583C24.5413 18.6038 23.8486 16.9215 22.4632 15.5361C21.0778 14.1507 19.3955 13.458 17.4163 13.458C15.4372 13.458 13.7549 14.1507 12.3695 15.5361C10.984 16.9215 10.2913 18.6038 10.2913 20.583C10.2913 22.5622 10.984 24.2445 12.3695 25.6299C13.7549 27.0153 15.4372 27.708 17.4163 27.708ZM17.4163 24.5413C16.308 24.5413 15.3712 24.1587 14.6059 23.3934C13.8406 22.6281 13.458 21.6913 13.458 20.583C13.458 19.4747 13.8406 18.5379 14.6059 17.7726C15.3712 17.0073 16.308 16.6247 17.4163 16.6247C18.5247 16.6247 19.4615 17.0073 20.2268 17.7726C20.992 18.5379 21.3747 19.4747 21.3747 20.583C21.3747 21.6913 20.992 22.6281 20.2268 23.3934C19.4615 24.1587 18.5247 24.5413 17.4163 24.5413Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1790px) { 
    /* 브라우저의 넓이가 1790px이하일때만 적용되는 css*/
    .visual .picture {
        transform: translate(0, 50%);
    }
}


.culture {
    margin: 192px 0 120px 0;
}
.culture .wrapper {
    position: relative; /* more 정렬의 기준 */
}

.culture .tit p {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #1d1d1d;
    margin: 0 0 14px 0;
}
.culture .list {
    margin: 37px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: calc(33.33% - 16px); /*브라우저 사이즈에 따라 같이 따라서 줄어드는거*/
    /* 
    100% / li의 갯수 = 100 / 3 = 33.33%
    li 사이의 여백 총합 24 + 24 = 48 / li의 갯수
    */
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    /* block요소라서 넓이가 100% 들어가 있음..높이만주기 */
    height: 255px;
    overflow: hidden; /* 높이가 특정된곳에 주기*/
}
.culture .list ul li a .photo img { /*ex,후기사진이 짤리지 않음*/
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s; /* ^오버효과를 주기전에 동일 선택자에 
                        transition을 주면 변화되는 값이 부드럽게 바뀜*/
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1); /*마우스오버시 확대*/
}
.culture .list ul li a h3 {
    margin: 22px 0 14px 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3;
    color: #1d1d1d;
}
.culture .more {
    position: absolute; /*wrapper를 기준*/
    right: 0;
    top: 90px;
    color: #1E3A5F;
    border: 1px solid #1E3A5F;
    padding: 8px 47px 9px 31px;
    border-radius: 40px;
}
.culture .more:hover {
    color: #fff;
    background-color: #1976D3;
    border: #1976D3;
}
.culture .more:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_48_817' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_48_817)'%3E%3Cpath d='M7.24208 8.75874H3.95658C3.7438 8.75874 3.56419 8.68558 3.41774 8.53924C3.27141 8.3928 3.19824 8.21319 3.19824 8.00041C3.19824 7.78763 3.27141 7.60802 3.41774 7.46158C3.56419 7.31524 3.7438 7.24208 3.95658 7.24208H7.24208V3.95658C7.24208 3.7438 7.31524 3.56419 7.46158 3.41774C7.60802 3.27141 7.78763 3.19824 8.00041 3.19824C8.21319 3.19824 8.3928 3.27141 8.53924 3.41774C8.68558 3.56419 8.75874 3.7438 8.75874 3.95658V7.24208H12.0442C12.257 7.24208 12.4366 7.31524 12.5831 7.46158C12.7294 7.60802 12.8026 7.78763 12.8026 8.00041C12.8026 8.21319 12.7294 8.3928 12.5831 8.53924C12.4366 8.68558 12.257 8.75874 12.0442 8.75874H8.75874V12.0442C8.75874 12.257 8.68558 12.4366 8.53924 12.5831C8.3928 12.7294 8.21319 12.8026 8.00041 12.8026C7.78763 12.8026 7.60802 12.7294 7.46158 12.5831C7.31524 12.4366 7.24208 12.257 7.24208 12.0442V8.75874Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.culture .more::after {
    content: "";
    position: absolute; /*more를 기준으로 정렬*/
    top: 13px;
    right: 28px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_81' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_81)'%3E%3Cpath d='M7.24208 8.75874H3.95658C3.7438 8.75874 3.56419 8.68558 3.41774 8.53924C3.27141 8.3928 3.19824 8.21319 3.19824 8.00041C3.19824 7.78763 3.27141 7.60802 3.41774 7.46158C3.56419 7.31524 3.7438 7.24208 3.95658 7.24208H7.24208V3.95658C7.24208 3.7438 7.31524 3.56419 7.46158 3.41774C7.60802 3.27141 7.78763 3.19824 8.00041 3.19824C8.21319 3.19824 8.3928 3.27141 8.53924 3.41774C8.68558 3.56419 8.75874 3.7438 8.75874 3.95658V7.24208H12.0442C12.257 7.24208 12.4366 7.31524 12.5831 7.46158C12.7294 7.60802 12.8026 7.78763 12.8026 8.00041C12.8026 8.21319 12.7294 8.3928 12.5831 8.53924C12.4366 8.68558 12.257 8.75874 12.0442 8.75874H8.75874V12.0442C8.75874 12.257 8.68558 12.4366 8.53924 12.5831C8.3928 12.7294 8.21319 12.8026 8.00041 12.8026C7.78763 12.8026 7.60802 12.7294 7.46158 12.5831C7.31524 12.4366 7.24208 12.257 7.24208 12.0442V8.75874Z' fill='%231E3A5F'/%3E%3C/g%3E%3C/svg%3E%0A");    background-position: center center;
    background-repeat: no-repeat;
}

.tour {
    margin: 93px 0 0 0;
    background-color: #f4f4f4;
    padding: 147px 0 120px 0;
}
.tour .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.tour .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
    color: #1d1d1d;
    margin: 0 0 14px 0;
}
.tour .list {
    margin: 37px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
}
.tour .list ul li a {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 455px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #fff;
    padding: 0 0 50px 0;
}
.tour .list ul li.list01 a {
    background-image: url(../images/tour_list01.jpg);
}
.tour .list ul li.list02 a {
    background-image: url(../images/tour_list02.jpg);
}
.tour .list ul li.list03 a {
    background-image: url(../images/tour_list03.jpg);
}
.tour .list ul li.list04 a {
    background-image: url(../images/tour_list04.jpg);
}
.tour .list ul li a h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3;
    text-align: center; /*가운데정렬*/
}
.tour .list ul li a p {
    display: none; /*숨김*/
}

/***********************************on클래스 추가 됐을때 (열렸을 때)***********************************/
.tour .list ul li.on {
    width: 618px;
}
.tour .list ul li.on a {
    padding: 0 31px 32px 30px;
    align-items: flex-start;
}
.tour .list ul li.on a h3 {
    text-align: left; /*on일땐 글자가 왼쪽으로 가야해서*/
    display: inline-block;
    padding: 0 40px 0 0;
    position: relative; /*after 정렬의 기준*/
}
.tour .list ul li.on a h3::after {
    content: "";
    position: absolute; /*h3를 기준으로 정렬*/
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%; /*동그라미*/
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_124_32' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_124_32)'%3E%3Cpath d='M12.0622 9.99967L5.93718 3.87467C5.72885 3.66634 5.62816 3.41981 5.6351 3.13509C5.64205 2.85037 5.74968 2.60384 5.95802 2.39551C6.16635 2.18717 6.41288 2.08301 6.6976 2.08301C6.98232 2.08301 7.22885 2.18717 7.43719 2.39551L13.833 8.81217C13.9997 8.97884 14.1247 9.16634 14.208 9.37467C14.2914 9.58301 14.333 9.79134 14.333 9.99967C14.333 10.208 14.2914 10.4163 14.208 10.6247C14.1247 10.833 13.9997 11.0205 13.833 11.1872L7.41635 17.6038C7.20802 17.8122 6.96496 17.9129 6.68718 17.9059C6.40941 17.899 6.16635 17.7913 5.95802 17.583C5.74968 17.3747 5.64552 17.1281 5.64552 16.8434C5.64552 16.5587 5.74968 16.3122 5.95802 16.1038L12.0622 9.99967Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
}
.tour .list ul li.on a p {
    display: block;
    margin: 13px 0 0 0;
}

.tour .more {
    position: absolute; /*wrapper를 기준*/
    right: 0;
    top: 35px;
    color: #1E3A5F;
    border: 1px solid #1E3A5F;
    padding: 8px 47px 9px 31px;
    border-radius: 40px;
}
.tour .more:hover {
    color: #fff;
    background-color: #1976D3;
    border: #1976D3;
}
.tour .more:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_48_817' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_48_817)'%3E%3Cpath d='M7.24208 8.75874H3.95658C3.7438 8.75874 3.56419 8.68558 3.41774 8.53924C3.27141 8.3928 3.19824 8.21319 3.19824 8.00041C3.19824 7.78763 3.27141 7.60802 3.41774 7.46158C3.56419 7.31524 3.7438 7.24208 3.95658 7.24208H7.24208V3.95658C7.24208 3.7438 7.31524 3.56419 7.46158 3.41774C7.60802 3.27141 7.78763 3.19824 8.00041 3.19824C8.21319 3.19824 8.3928 3.27141 8.53924 3.41774C8.68558 3.56419 8.75874 3.7438 8.75874 3.95658V7.24208H12.0442C12.257 7.24208 12.4366 7.31524 12.5831 7.46158C12.7294 7.60802 12.8026 7.78763 12.8026 8.00041C12.8026 8.21319 12.7294 8.3928 12.5831 8.53924C12.4366 8.68558 12.257 8.75874 12.0442 8.75874H8.75874V12.0442C8.75874 12.257 8.68558 12.4366 8.53924 12.5831C8.3928 12.7294 8.21319 12.8026 8.00041 12.8026C7.78763 12.8026 7.60802 12.7294 7.46158 12.5831C7.31524 12.4366 7.24208 12.257 7.24208 12.0442V8.75874Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.tour .more::after {
    content: "";
    position: absolute; /*more를 기준으로 정렬*/
    top: 13px;
    right: 28px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_81' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_81)'%3E%3Cpath d='M7.24208 8.75874H3.95658C3.7438 8.75874 3.56419 8.68558 3.41774 8.53924C3.27141 8.3928 3.19824 8.21319 3.19824 8.00041C3.19824 7.78763 3.27141 7.60802 3.41774 7.46158C3.56419 7.31524 3.7438 7.24208 3.95658 7.24208H7.24208V3.95658C7.24208 3.7438 7.31524 3.56419 7.46158 3.41774C7.60802 3.27141 7.78763 3.19824 8.00041 3.19824C8.21319 3.19824 8.3928 3.27141 8.53924 3.41774C8.68558 3.56419 8.75874 3.7438 8.75874 3.95658V7.24208H12.0442C12.257 7.24208 12.4366 7.31524 12.5831 7.46158C12.7294 7.60802 12.8026 7.78763 12.8026 8.00041C12.8026 8.21319 12.7294 8.3928 12.5831 8.53924C12.4366 8.68558 12.257 8.75874 12.0442 8.75874H8.75874V12.0442C8.75874 12.257 8.68558 12.4366 8.53924 12.5831C8.3928 12.7294 8.21319 12.8026 8.00041 12.8026C7.78763 12.8026 7.60802 12.7294 7.46158 12.5831C7.31524 12.4366 7.24208 12.257 7.24208 12.0442V8.75874Z' fill='%231E3A5F'/%3E%3C/g%3E%3C/svg%3E%0A");    background-position: center center;
    background-repeat: no-repeat;
}


.community {
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    height: 800px;
    color: #fff;
    padding: 163px 0 0 0;
}
.community .wrapper {
    display: flex; /*tit, inner좌우로 배치*/
    justify-content: space-between;
}
.community .tit {
    margin: 17px 0 0 0;
}
.community .tit h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 5px 0;
}
.community .inner {
    display: flex; /*notice, link를 좌우로 배치*/
    gap: 24px; /*notice, link사이의 여백*/
    /*만약 박스가 작을 때 align-items: flex-end 적용*/
}
.community .inner .notice {
    width: 511px;
    height: 386px;
    border-radius: 10px;
    background-color: rgba(30, 58, 95, 0.8); 
    backdrop-filter: blur(5px);
    padding: 50px 30px 0 42px;
    position: relative; /* more의 정렬기준 */
}
.community .inner .notice:hover {
    background-color: #1976D3; /*마우스 오버시 컬러변경*/
}
.community .inner .notice h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3;
}
.community .inner .notice .list {
    margin: 10px 0 0 0;
}
.community .inner .notice .list ul li {
    border-top: 1px solid rgba(255,255,255,0.2);
}
.community .inner .notice .list ul li a {
    display: flex; /*strong, span 좌우로 배치*/
    justify-content: space-between;
    padding: 7px 0 13px 0;
}
.community .inner .notice .list ul li a strong {
    width: calc(100% - 90px);
    /*100%에서 옆에 날짜 넓이 + 둘 사이의 여백을  뺌 , 날짜랑 붙으니까..
    
    1줄제한, ..으로 만들기*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.community .inner .notice .list ul li a:hover strong {
    font-weight: 700;
}
.community .inner .notice .list ul li a span {
    width: 80px; /*날짜는 자리수가 늘지 않음. 
                    날짜표시는 대부분 01 02 ex)25-02-01이렇게 표시,
                    자릿수 변동시키지 않기 위해 제일 넓은 숫자를 
                    기준으로 최대 넓이를 고정값으로 줌*/
    font-size: 15px;
    color: rgba(255,255,255,0.8);
    text-align: center;
}
.community .inner .notice .more {
    position: absolute; /*notice를 기준으로 정렬, after 정렬의 기준*/
    right: 25px;
    top: 52px;
    padding: 0 25px 0 0; /*오른쪽값만 넣는 이유: 아이콘을 배치할 영역까지 more로 잡혀야해서..*/
    color: rgba(255,255,255,0.8);
}
.community .inner .notice .more::after {
    content: ""; /*필수*/
    position: absolute; /*more를 기준으로*/
    right: 4px; /*내가조정..*/
    top: 4px;
    width: 16px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_48_871' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Crect width='16' height='16' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_48_871)'%3E%3Cpath d='M7.24208 8.75874H3.95658C3.7438 8.75874 3.56419 8.68558 3.41774 8.53924C3.27141 8.3928 3.19824 8.21319 3.19824 8.00041C3.19824 7.78763 3.27141 7.60802 3.41774 7.46158C3.56419 7.31524 3.7438 7.24208 3.95658 7.24208H7.24208V3.95658C7.24208 3.7438 7.31524 3.56419 7.46158 3.41774C7.60802 3.27141 7.78763 3.19824 8.00041 3.19824C8.21319 3.19824 8.3928 3.27141 8.53924 3.41774C8.68558 3.56419 8.75874 3.7438 8.75874 3.95658V7.24208H12.0442C12.257 7.24208 12.4366 7.31524 12.5831 7.46158C12.7294 7.60802 12.8026 7.78763 12.8026 8.00041C12.8026 8.21319 12.7294 8.3928 12.5831 8.53924C12.4366 8.68558 12.257 8.75874 12.0442 8.75874H8.75874V12.0442C8.75874 12.257 8.68558 12.4366 8.53924 12.5831C8.3928 12.7294 8.21319 12.8026 8.00041 12.8026C7.78763 12.8026 7.60802 12.7294 7.46158 12.5831C7.31524 12.4366 7.24208 12.257 7.24208 12.0442V8.75874Z' fill='white' fill-opacity='0.8'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
}
.community .inner .notice .more:hover {
    font-weight: 700;
} 

.community .inner .link {
    width: 404px; /*작은박스 두개 넓이*/
}
.community .inner .link ul {
    display: flex;
    flex-wrap: wrap; /*교통-축제가 한줄로 나오니까.. 여러줄 허용*/
    gap: 24px;
}
.community .inner .link ul li {
    width: calc(50% - 12px);
    /*한줄에 li이 갯수 = 100 /2 =50%
    한줄에 들어가는 여백의 총합 / 한줄에 들어가는 li이 갯수 = 24 / 2 =12 */
}
.community .inner .link ul li a {
    display: block;
    height: 181px;
    border-radius: 10px;
    background-color: rgba(30, 58, 95, 0.8); 
    backdrop-filter: blur(5px);
    padding: 30px 0 0 30px;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.3;
    position: relative; /*after 정렬의 기준*/
}
.community .inner .link ul li a:hover {
    background-color: #1976D3;
}
.community .inner .link ul li a::after {
    content: "";
    position: absolute; /*a를 기준으로 정렬*/
    right: 30px;
    bottom: 30px;
    width: 38px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center center;
}
.community .inner .link ul li.link01 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_113' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_113)'%3E%3Cpath d='M12.6668 30.0837V30.8753C12.6668 31.535 12.4359 32.0958 11.9741 32.5576C11.5123 33.0194 10.9516 33.2503 10.2918 33.2503C9.63211 33.2503 9.07134 33.0194 8.60954 32.5576C8.14773 32.0958 7.91683 31.535 7.91683 30.8753V28.4212C7.44183 27.8934 7.05919 27.3062 6.76891 26.6597C6.47863 26.0132 6.3335 25.3073 6.3335 24.542V9.50033C6.3335 7.31005 7.34947 5.70692 9.38141 4.69095C11.4134 3.67498 14.6196 3.16699 19.0002 3.16699C23.5391 3.16699 26.7849 3.65519 28.7377 4.63158C30.6904 5.60796 31.6668 7.23088 31.6668 9.50033V24.542C31.6668 25.3073 31.5217 26.0132 31.2314 26.6597C30.9411 27.3062 30.5585 27.8934 30.0835 28.4212V30.8753C30.0835 31.535 29.8526 32.0958 29.3908 32.5576C28.929 33.0194 28.3682 33.2503 27.7085 33.2503C27.0488 33.2503 26.488 33.0194 26.0262 32.5576C25.5644 32.0958 25.3335 31.535 25.3335 30.8753V30.0837H12.6668ZM9.50016 15.8337H28.5002V11.0837H9.50016V15.8337ZM13.4585 25.3337C14.1182 25.3337 14.679 25.1028 15.1408 24.641C15.6026 24.1791 15.8335 23.6184 15.8335 22.9587C15.8335 22.2989 15.6026 21.7382 15.1408 21.2764C14.679 20.8146 14.1182 20.5837 13.4585 20.5837C12.7988 20.5837 12.238 20.8146 11.7762 21.2764C11.3144 21.7382 11.0835 22.2989 11.0835 22.9587C11.0835 23.6184 11.3144 24.1791 11.7762 24.641C12.238 25.1028 12.7988 25.3337 13.4585 25.3337ZM24.5418 25.3337C25.2016 25.3337 25.7623 25.1028 26.2241 24.641C26.6859 24.1791 26.9168 23.6184 26.9168 22.9587C26.9168 22.2989 26.6859 21.7382 26.2241 21.2764C25.7623 20.8146 25.2016 20.5837 24.5418 20.5837C23.8821 20.5837 23.3213 20.8146 22.8595 21.2764C22.3977 21.7382 22.1668 22.2989 22.1668 22.9587C22.1668 23.6184 22.3977 24.1791 22.8595 24.641C23.3213 25.1028 23.8821 25.3337 24.5418 25.3337ZM10.2127 7.91699H27.946C27.5502 7.46838 26.6991 7.09234 25.3929 6.78887C24.0866 6.4854 21.9821 6.33366 19.0793 6.33366C16.2557 6.33366 14.1908 6.49859 12.8845 6.82845C11.5783 7.15831 10.6877 7.52116 10.2127 7.91699ZM12.6668 26.917H25.3335C26.2043 26.917 26.9498 26.6069 27.57 25.9868C28.1901 25.3666 28.5002 24.6212 28.5002 23.7503V19.0003H9.50016V23.7503C9.50016 24.6212 9.81023 25.3666 10.4304 25.9868C11.0505 26.6069 11.796 26.917 12.6668 26.917Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link02 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_116' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_116)'%3E%3Cpath d='M6.33347 30.083V18.4059L4.75014 19.633C4.3807 19.8969 3.98486 20.0025 3.56264 19.9497C3.14042 19.8969 2.79736 19.6858 2.53347 19.3163C2.26959 18.9469 2.16403 18.5511 2.21681 18.1288C2.26959 17.7066 2.4675 17.3636 2.81056 17.0997L6.33347 14.408V11.083C6.33347 10.6344 6.48521 10.2584 6.78868 9.95488C7.09215 9.65141 7.4682 9.49967 7.91681 9.49967C8.36542 9.49967 8.74146 9.65141 9.04493 9.95488C9.3484 10.2584 9.50014 10.6344 9.50014 11.083V11.9934L17.0606 6.21426C17.6411 5.76565 18.2876 5.54134 19.0001 5.54134C19.7126 5.54134 20.3592 5.76565 20.9397 6.21426L35.1897 17.0997C35.5328 17.3636 35.7307 17.7066 35.7835 18.1288C35.8363 18.5511 35.7307 18.9469 35.4668 19.3163C35.2029 19.6594 34.8599 19.8573 34.4376 19.9101C34.0154 19.9629 33.6328 19.8573 33.2897 19.5934L31.6668 18.4059V30.083C31.6668 30.9538 31.3567 31.6993 30.7366 32.3195C30.1165 32.9396 29.371 33.2497 28.5001 33.2497H9.50014C8.62931 33.2497 7.88382 32.9396 7.26368 32.3195C6.64354 31.6993 6.33347 30.9538 6.33347 30.083ZM9.50014 30.083H17.4168V25.333C17.4168 24.8844 17.5685 24.5084 17.872 24.2049C18.1755 23.9014 18.5515 23.7497 19.0001 23.7497C19.4488 23.7497 19.8248 23.9014 20.1283 24.2049C20.4317 24.5084 20.5835 24.8844 20.5835 25.333V30.083H28.5001V15.9913L19.0001 8.74759L9.50014 15.9913V30.083ZM8.39181 7.91634C7.78486 7.91634 7.31646 7.66565 6.9866 7.16426C6.65674 6.66287 6.63695 6.14829 6.92722 5.62051C7.37584 4.85523 7.96299 4.25488 8.68868 3.81947C9.41438 3.38405 10.2126 3.16634 11.0835 3.16634C11.3738 3.16634 11.6508 3.09377 11.9147 2.94863C12.1786 2.80349 12.3765 2.59898 12.5085 2.33509C12.6404 2.09759 12.8185 1.91287 13.0428 1.78092C13.2672 1.64898 13.5244 1.58301 13.8147 1.58301C14.4217 1.58301 14.8835 1.8337 15.2001 2.33509C15.5168 2.83648 15.53 3.35106 15.2397 3.87884C14.7911 4.64412 14.204 5.24447 13.4783 5.67988C12.7526 6.1153 11.9543 6.33301 11.0835 6.33301C10.7932 6.33301 10.5161 6.39898 10.2522 6.53092C9.98834 6.66287 9.79042 6.87398 9.65847 7.16426C9.52653 7.40176 9.355 7.58648 9.14389 7.71842C8.93278 7.85037 8.68209 7.91634 8.39181 7.91634Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link03 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_122' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_122)'%3E%3Cpath d='M11.0833 34.8337C10.6347 34.8337 10.2587 34.6819 9.95521 34.3784C9.65174 34.075 9.5 33.6989 9.5 33.2503V20.3462C8.075 19.9767 6.92708 19.2246 6.05625 18.0899C5.18542 16.9552 4.75 15.6753 4.75 14.2503V4.75033C4.75 4.30171 4.90174 3.92567 5.20521 3.6222C5.50868 3.31873 5.88472 3.16699 6.33333 3.16699C6.78194 3.16699 7.15799 3.31873 7.46146 3.6222C7.76493 3.92567 7.91667 4.30171 7.91667 4.75033V12.667H9.5V4.75033C9.5 4.30171 9.65174 3.92567 9.95521 3.6222C10.2587 3.31873 10.6347 3.16699 11.0833 3.16699C11.5319 3.16699 11.908 3.31873 12.2115 3.6222C12.5149 3.92567 12.6667 4.30171 12.6667 4.75033V12.667H14.25V4.75033C14.25 4.30171 14.4017 3.92567 14.7052 3.6222C15.0087 3.31873 15.3847 3.16699 15.8333 3.16699C16.2819 3.16699 16.658 3.31873 16.9615 3.6222C17.2649 3.92567 17.4167 4.30171 17.4167 4.75033V14.2503C17.4167 15.6753 16.9813 16.9552 16.1104 18.0899C15.2396 19.2246 14.0917 19.9767 12.6667 20.3462V33.2503C12.6667 33.6989 12.5149 34.075 12.2115 34.3784C11.908 34.6819 11.5319 34.8337 11.0833 34.8337ZM26.9167 34.8337C26.4681 34.8337 26.092 34.6819 25.7885 34.3784C25.4851 34.075 25.3333 33.6989 25.3333 33.2503V19.7524C23.9083 19.2774 22.7604 18.2812 21.8896 16.7639C21.0187 15.2465 20.5833 13.5246 20.5833 11.5982C20.5833 9.24963 21.2035 7.25727 22.4438 5.62116C23.684 3.98505 25.175 3.16699 26.9167 3.16699C28.6583 3.16699 30.1493 3.99164 31.3896 5.64095C32.6299 7.29026 33.25 9.28921 33.25 11.6378C33.25 13.5642 32.8146 15.2795 31.9438 16.7837C31.0729 18.2878 29.925 19.2774 28.5 19.7524V33.2503C28.5 33.6989 28.3483 34.075 28.0448 34.3784C27.7413 34.6819 27.3653 34.8337 26.9167 34.8337Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.community .inner .link ul li.link04 a::after {
    background-image: url("data:image/svg+xml,%3Csvg width='38' height='38' viewBox='0 0 38 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_65_119' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='38' height='38'%3E%3Crect width='38' height='38' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_65_119)'%3E%3Cpath d='M7.521 34.8337C6.46544 34.8337 5.621 34.4049 4.98766 33.5473C4.35433 32.6896 4.14322 31.7198 4.35433 30.6379C4.64461 29.2921 4.84252 27.9462 4.94808 26.6004C5.05363 25.2546 5.11961 23.9087 5.146 22.5629C4.06405 22.1407 3.19982 21.4678 2.55329 20.5441C1.90676 19.6205 1.5835 18.5782 1.5835 17.4171V16.3087C1.5835 15.7018 1.76162 15.1476 2.11787 14.6462C2.47412 14.1448 2.94252 13.7754 3.52308 13.5379C6.03002 12.5351 8.39183 11.2948 10.6085 9.81706C12.8252 8.33928 14.9627 6.72956 17.021 4.98789C17.3113 4.75039 17.6213 4.57227 17.9512 4.45352C18.2811 4.33477 18.6307 4.27539 19.0002 4.27539C19.3696 4.27539 19.7193 4.33477 20.0491 4.45352C20.379 4.57227 20.6891 4.75039 20.9793 4.98789C23.0377 6.72956 25.1752 8.33928 27.3918 9.81706C29.6085 11.2948 31.9703 12.5351 34.4772 13.5379C35.0578 13.7754 35.5262 14.1448 35.8825 14.6462C36.2387 15.1476 36.4168 15.7018 36.4168 16.3087V17.4171C36.4168 18.5782 36.0936 19.6205 35.447 20.5441C34.8005 21.4678 33.9363 22.1407 32.8543 22.5629C32.8807 23.9087 32.9467 25.2546 33.0522 26.6004C33.1578 27.9462 33.3557 29.2921 33.646 30.6379C33.8571 31.7198 33.646 32.6896 33.0127 33.5473C32.3793 34.4049 31.5349 34.8337 30.4793 34.8337H7.521ZM9.34183 14.2504H28.6585C26.9168 13.274 25.2477 12.2184 23.6512 11.0837C22.0547 9.949 20.5043 8.73511 19.0002 7.44206C17.496 8.73511 15.9456 9.949 14.3491 11.0837C12.7526 12.2184 11.0835 13.274 9.34183 14.2504ZM22.9585 19.7921C23.6182 19.7921 24.179 19.5612 24.6408 19.0993C25.1026 18.6375 25.3335 18.0768 25.3335 17.4171H20.5835C20.5835 18.0768 20.8144 18.6375 21.2762 19.0993C21.738 19.5612 22.2988 19.7921 22.9585 19.7921ZM15.0418 19.7921C15.7016 19.7921 16.2623 19.5612 16.7241 19.0993C17.1859 18.6375 17.4168 18.0768 17.4168 17.4171H12.6668C12.6668 18.0768 12.8977 18.6375 13.3595 19.0993C13.8213 19.5612 14.3821 19.7921 15.0418 19.7921ZM7.12516 19.7921C7.78488 19.7921 8.34565 19.5612 8.80745 19.0993C9.26926 18.6375 9.50016 18.0768 9.50016 17.4171H4.75016C4.75016 18.0768 4.98107 18.6375 5.44287 19.0993C5.90468 19.5612 6.46544 19.7921 7.12516 19.7921ZM7.36266 31.6671H11.5981C11.8356 30.0837 12.0203 28.5136 12.1522 26.9566C12.2842 25.3997 12.3897 23.8296 12.4689 22.2462C12.205 22.1143 11.9609 21.9757 11.7366 21.8306C11.5123 21.6855 11.2946 21.5073 11.0835 21.2962C10.7141 21.6657 10.2918 21.9823 9.81683 22.2462C9.34183 22.5101 8.84044 22.708 8.31266 22.84C8.25988 24.3441 8.16752 25.8285 8.03558 27.2931C7.90364 28.7577 7.67933 30.2157 7.36266 31.6671ZM14.8043 31.6671H23.196C22.9849 30.2157 22.82 28.7643 22.7012 27.3129C22.5825 25.8615 22.4835 24.3969 22.4043 22.9191C21.7446 22.8664 21.1245 22.7014 20.5439 22.4243C19.9634 22.1473 19.4488 21.7844 19.0002 21.3358C18.5515 21.7844 18.037 22.1473 17.4564 22.4243C16.8759 22.7014 16.2557 22.8664 15.596 22.9191C15.5168 24.3969 15.4179 25.8615 15.2991 27.3129C15.1804 28.7643 15.0154 30.2157 14.8043 31.6671ZM26.4022 31.6671H30.6377C30.321 30.2157 30.0967 28.7577 29.9647 27.2931C29.8328 25.8285 29.7404 24.3441 29.6877 22.84C29.1599 22.708 28.6585 22.5167 28.1835 22.266C27.7085 22.0153 27.2863 21.6921 26.9168 21.2962C26.7057 21.5073 26.488 21.6855 26.2637 21.8306C26.0394 21.9757 25.7953 22.1143 25.5314 22.2462C25.6106 23.8296 25.7227 25.3997 25.8679 26.9566C26.013 28.5136 26.1911 30.0837 26.4022 31.6671ZM30.8752 19.7921C31.5349 19.7921 32.0956 19.5612 32.5575 19.0993C33.0193 18.6375 33.2502 18.0768 33.2502 17.4171H28.5002C28.5002 18.0768 28.7311 18.6375 29.1929 19.0993C29.6547 19.5612 30.2154 19.7921 30.8752 19.7921Z' fill='white' fill-opacity='0.6'/%3E%3C/g%3E%3C/svg%3E%0A");
}


footer {
    padding: 70px 92px 60px;
    color: #3d3d3d;
}
footer .f_nav ul {
    display: flex;
    gap: 42px;
}
footer .f_nav ul li {
    position: relative; /*before정렬의 기준*/
}
footer .f_nav ul li::before {
    content: "";
    position: absolute; /*li를 기준으로 정렬*/
    left: -18px;
    top: 5px;
    width: 1px;
    height: 13px;
    background-color: #ccc;
}
footer .f_nav ul li:first-child::before {
    display: none; /*숨김*/
}
footer .f_nav ul li a:hover {
    text-decoration: underline; /*마우스 오버시 밑줄*/
}
footer .f_info {
    margin: 39px 0 33px 0;
    display: flex;
    gap: 16px;
}
footer .f_info strong {
    font-weight: 700;
}
footer .copyright p {
    margin: 7px 0 0 0;
    color: #666;
}
footer .copyright p strong {
    position: relative;
}
footer .copyright p strong::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 1px;
    width: 100%;
    background-color: #ccc;
}