@import url(default.css);
@import url(common.css);
@import url(font.css);
@import url(layout.css);

header {
    display: flex;
}


.visual .swiper-slide {
    height: 800px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual .swiper-slide.popup1 {
    background-image: url(../images/main/visual01.jpg);
}
.visual .swiper-slide.popup2 {
    background-image: url(../images/main/visual02.jpg);
}
.visual .swiper-slide.popup3 {
    background-image: url(../images/main/visual03.jpg);
}
.visual h3 {
    font-size: 60px;
    font-weight: 800;
    padding: 328px 0 17px 0;
}



.biz {
    margin: 166px 0 0 0;
}
.biz .tit span {
    color: var(--point-color);
    font-weight: var(--bold-weight);
    
}
.biz .tit h2{
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);  
    margin: 11px 0 68px 0;    
}
.biz .list ul {
    display: flex;
    gap: 1px;
}
.biz .list ul li {
    width: 25%;
    position: relative; /*txt기준의 정렬*/
}
.biz .list ul li .photo {
    overflow: hidden;
    height: 700px;
}
.biz .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li .txt {
    content: "";
    position: absolute; /*li를 기준으로 정렬*/
    color: #fff;
    left: 20px;
    bottom: 40px;
    white-space: nowrap;
}
.biz .list ul li .txt h3 {
    font-size: 45px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0 0 19px 0;
}
.biz .list ul li .txt a {
    display: inline-block;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    position: relative;
    padding: 4px 27px 6px 18px;
}
.biz .list ul li .txt a::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    right: 8px;
    top: 11px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 4.54688H0.5V3.54688H3.5V0.546875H4.5V3.54688H7.5V4.54688H4.5V7.54688H3.5V4.54688Z' fill='white'/%3E%3C/svg%3E%0A");
}
.news {
    margin: 166px 0 0 0;
}
.news .tit strong {
    color: var(--point-color);
    font-weight: var(--bold-weight);
}
.news .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
    margin: 12px 0 45px 0;
}
.news .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px);
}
.news .list .swiper {
    overflow: visible; /*hidden해제*/
}
.news .list .swiper-slide {
    width: 404px;
}
.news .list .swiper-slide a {
    display: block;
}
.news .list .swiper-slide a .data {
    display: block;
    font-size: var(--tit-font-size);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
    border-top: 1px solid var(--base-color);
    padding: 9px 0 14px 0;
    position: relative;
}
.news .list .swiper-slide a .data::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 0;
    height: 5px;
    background-color: var(--point-color);
}
.news .list .swiper-slide a:hover .data::before {
    width: 100%;
}
.news .list .swiper-slide a h3 {
    font-size: 24px;
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    /*2줄 제한*/
    height: 2.4em; /*행간 * 줄수 =em*/
    overflow: hidden;
    /*길어서 짤리면 뒤에 ... 추가*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*줄수*/
    word-break: normal; /*단어별줄바꿈 해제*/
}
.news .list .swiper-slide a p {
    height: 4.5em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /*줄수*/
    margin: 18px 0 18px 0;
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 161px;
}
.news .list .swiper-slide a .photo img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}