/*회사소개 > CEO인사말*/

.ctn_ceo {
    position: relative;/*before 정렬의 기준*/
}
.ctn_ceo::before {
    content: "";
    position: absolute;
    left: 1.76em; /*30/17*/
    top: 0;
    z-index: -1; /*ctn_ceo 영역 안에서 맨 아래*/
    width: calc(100% - 3.53em); /*60px/17*/
    height: 22.88em; /*389px*/
    background-color: #f4f4f4;
    border-radius: 30px;
}


.ctn_ceo .wrapper {
    position: relative; /*photo정렬의 기준*/
}
.ctn_ceo .ceo_tit {
    padding: 7.05em 0 0 51.03%;/*120px 0 72(4.23em) 643px*/
}
.ctn_ceo .ceo_tit strong {
    color: var(--point-color);
    font-weight: var(--bold-weight);
    display: block;
}
.ctn_ceo .ceo_tit h2 {
    font-size: 1.76em;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
    margin: 0.56em 0 1.6em 0;/*17px 0 48px 0/30*/
}
.ctn_ceo .photo {
    position: absolute;
    left: 0;
    top: 7.05em;
    width: 37.22%; 
    height: 44.82em;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.2);
}
.ctn_ceo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_ceo .ceo_detail {
    margin: 8.29em 0 8.20em 51.03%;
}
.ctn_ceo .ceo_detail .sign {
    display: flex;
    margin: 1.5em 0 0 0;
    gap: 2em;
    align-items: center;
}
.ctn_ceo .ceo_detail .sign strong {
    font-weight: var(--bold-weight);
}

@media screen and (max-width:1408px) {
   
    .ctn_ceo::before {
        left: 20px; /**/
        width: calc(100% - 40px); 
        border-radius: 20px;
    }
    .ctn_ceo .wrapper {
        margin: 0 40px;
    }
    .ctn_ceo .ceo_tit {
        padding-left: 45%;
    }
    .ctn_ceo .ceo_detail {
        margin-left: 45%;
    }
}
@media screen and (max-width:768px) {
                    .ctn_ceo::before {
                        display: none;
                    }
                    .ctn_ceo .wrapper {
                        margin: 0 20px;
                    }
                    .ctn_ceo .ceo_tit {
                        background-color: #f4f4f4;
                        border-radius: 10px;
                        padding: 66px 18px 62px 18px;
                    }
                    .ctn_ceo .ceo_detail {
                        margin-left: 45%;
                    }
                    .ctn_ceo .ceo_tit h2 {
                        font-size: 25px;
                        margin: 18px 0 18px 0;/*17px 0 48px 0/30*/
                    }
                    .ctn_ceo .ceo_tit h2 br {
                        display: none;
                    }
                    .ctn_ceo .photo {
                        margin: 11px auto 0 auto;
                        position: relative;
                        left: auto;
                        top: auto;
                        max-width: 500px;
                        width: 100%; 
                        height: 423px;
                        border-radius: 10px;
                    }
                    .ctn_ceo .photo img {
                        object-position: center top;
                    }
                    .ctn_ceo .ceo_detail {
                        margin: 35px 0 0 0;
                    }
                    .ctn_ceo .ceo_detail .sign {
                        flex-direction: column;
                        margin: 32px 0 38px 0;
                        gap: 0;
                        align-items: flex-start;
                    }
                    .ctn_ceo .ceo_detail .sign strong {
                        font-weight: var(--bold-weight);
                    }
}


/*회사소개 > 찾아오시는길*/
.ctn_map .map {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px);
}
.ctn_map .map iframe {
    width: 100%;
    height: 631px;
    border: 0;
}

@media screen and (max-width:1300px) {
    .ctn_map .map {
        left: 20px;
        width: calc(100% - 20px);
    }
}
.ctn_map .map_inner {
    display: flex;
    justify-content: space-between;
    padding: 80px 0 74px 0;
}
.ctn_map .map_inner h2 {
    font-size: 30px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
}
.ctn_map .map_util {
    display: flex;
    justify-content: space-between;
}
.ctn_map .map_util a {
    display: block;
    border: 1px solid #797979;  
    position: relative;
    /**/
    padding: 10px 29px 14px 70px;
    border-radius: 30px;
    display: inline-block;
    margin: 0 10px 0 0;  
}
.ctn_map .map_util a span {
    font-size: 20px;
    font-weight: var(--bold-weight);
}
/* .ctn_map .map_util a.kakao::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='33' viewBox='0 0 24 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_219_738)'%3E%3Cpath d='M12.0017 0.00111823C18.6331 -0.00333239 23.9901 5.2048 24 11.6489C24.0045 14.5705 22.7756 17.0664 20.9234 19.1948C17.5454 23.0763 14.59 27.1634 12.9764 32.069C12.8306 32.5119 12.6137 33.0149 11.9901 32.9996C11.3118 32.9829 11.1295 32.4192 10.9685 31.9421C9.45422 27.4535 6.92435 23.5755 3.72745 20.0539C1.82714 17.9605 0.303194 15.5483 0.0474815 12.715C-0.575947 5.81009 5.01223 -0.093344 12.0017 0.00111823ZM7.92312 11.7593C7.9392 13.8912 9.86051 15.7561 12.0209 15.7369C14.1998 15.7176 16.0925 13.8465 16.084 11.7207C16.0756 9.59721 14.1541 7.73466 11.9814 7.74447C9.81283 7.7541 7.90722 9.63953 7.92312 11.7592V11.7593Z' fill='%23007DFD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_219_738'%3E%3Crect width='24' height='33' fill='white' transform='matrix(-1 0 0 1 24 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
} */
/***/
.ctn_map .map_util a.kakao::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 12px;
    top: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #FDE63E;
    background-color: #FDE63E;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='33' viewBox='0 0 24 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_219_738)'%3E%3Cpath d='M12.0017 0.00111823C18.6331 -0.00333239 23.9901 5.2048 24 11.6489C24.0045 14.5705 22.7756 17.0664 20.9234 19.1948C17.5454 23.0763 14.59 27.1634 12.9764 32.069C12.8306 32.5119 12.6137 33.0149 11.9901 32.9996C11.3118 32.9829 11.1295 32.4192 10.9685 31.9421C9.45422 27.4535 6.92435 23.5755 3.72745 20.0539C1.82714 17.9605 0.303194 15.5483 0.0474815 12.715C-0.575947 5.81009 5.01223 -0.093344 12.0017 0.00111823ZM7.92312 11.7593C7.9392 13.8912 9.86051 15.7561 12.0209 15.7369C14.1998 15.7176 16.0925 13.8465 16.084 11.7207C16.0756 9.59721 14.1541 7.73466 11.9814 7.74447C9.81283 7.7541 7.90722 9.63953 7.92312 11.7592V11.7593Z' fill='%23007DFD'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_219_738'%3E%3Crect width='24' height='33' fill='white' transform='matrix(-1 0 0 1 24 0)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");

}
.ctn_map .map_util a.naver::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    left: 12px;
    top: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #2ED006;
    background-color: #2ED006;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='28' viewBox='0 0 30 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_219_741)'%3E%3Cpath d='M30 0V28H19.935L10.065 13.9037V28H0V0H10.065L19.935 14.663V0H30Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_219_741'%3E%3Crect width='30' height='28' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.ctn_map .call {
    display: flex;
    gap: 181px;
    border-top: 2px solid #797979;
    padding: 29px 0 ;
}
.ctn_map .call h2{
    font-size: 30px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
}
.ctn_map .call strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    margin-right: 61px;
}
.ctn_map .call span {
    display: inline-block;
}
.ctn_map .notice {
    margin-left: 285px;
}
.ctn_map .notice a {
    display: inline-block;
    line-height: 34px;
    height: 34px;
    border: 1px solid #797979;
    border-radius: 50px;
    padding: 0 40px 0 22px;
    position: relative;
    margin: 21px 0 29px 0;
}
.ctn_map .notice a::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 7px;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.33333 12C0.966667 12 0.652778 11.8694 0.391667 11.6083C0.130556 11.3472 0 11.0333 0 10.6667V1.33333C0 0.966667 0.130556 0.652778 0.391667 0.391667C0.652778 0.130556 0.966667 0 1.33333 0H5.33333C5.52222 0 5.68056 0.0638889 5.80833 0.191667C5.93611 0.319444 6 0.477778 6 0.666667C6 0.855556 5.93611 1.01389 5.80833 1.14167C5.68056 1.26944 5.52222 1.33333 5.33333 1.33333H1.33333V10.6667H10.6667V6.66667C10.6667 6.47778 10.7306 6.31944 10.8583 6.19167C10.9861 6.06389 11.1444 6 11.3333 6C11.5222 6 11.6806 6.06389 11.8083 6.19167C11.9361 6.31944 12 6.47778 12 6.66667V10.6667C12 11.0333 11.8694 11.3472 11.6083 11.6083C11.3472 11.8694 11.0333 12 10.6667 12H1.33333ZM10.6667 2.26667L4.93333 8C4.81111 8.12222 4.65556 8.18333 4.46667 8.18333C4.27778 8.18333 4.12222 8.12222 4 8C3.87778 7.87778 3.81667 7.72222 3.81667 7.53333C3.81667 7.34444 3.87778 7.18889 4 7.06667L9.73333 1.33333H8C7.81111 1.33333 7.65278 1.26944 7.525 1.14167C7.39722 1.01389 7.33333 0.855556 7.33333 0.666667C7.33333 0.477778 7.39722 0.319444 7.525 0.191667C7.65278 0.0638889 7.81111 0 8 0H11.3333C11.5222 0 11.6806 0.0638889 11.8083 0.191667C11.9361 0.319444 12 0.477778 12 0.666667V4C12 4.18889 11.9361 4.34722 11.8083 4.475C11.6806 4.60278 11.5222 4.66667 11.3333 4.66667C11.1444 4.66667 10.9861 4.60278 10.8583 4.475C10.7306 4.34722 10.6667 4.18889 10.6667 4V2.26667Z' fill='%23626161'/%3E%3C/svg%3E%0A");
}

.ctn_map .trans {
    display: flex;
    gap: 181px;
    border-top: 2px solid #797979;
    padding: 29px 0 ;
}
.ctn_map .trans h2{
    font-size: 30px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
}
.ctn_map .trans .list strong {
    font-size: 30px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    margin-right: 61px;
}
.ctn_map .trans span {
    display: inline-block;
}


@media screen and (max-width:1024px) {
               
}



/* 회사소개 > 연혁*/

.ctn_history {
    margin: 0 0 163px 0;
}
.ctn_history .his_tit {
    margin: 43px 0 76px 0;
}
.ctn_history .his_tit strong {
    color: var(--point-color);
}
.ctn_history .his_tit h2 {
    color: var(--tit-font-color);
    font-weight: var(--bold-weight);
    font-size: 30px;
    line-height: var(--tit-line-height);
    margin: 13px 0 0 0;
}
.ctn_history .his_photo .photo {
    overflow: hidden;
    height: 395px;
}
.ctn_history .his_photo .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group {
    margin: 71px 0 108px 0;
    display: flex;
    justify-content: space-between;
}
.ctn_history .his_year_group.reverse {
    flex-direction: row-reverse; /*가로반전*/
}
.ctn_history .his_year_group .year_tit {
    width: 365px;  /******테스트???????????*******/
}
.ctn_history .his_year_group .year_cont {
    width: 636px;   /******테스트???????????*******/
}

.ctn_history .his_year_group .year_tit h3 {
    font-size: 45px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
}
.ctn_history .his_year_group .year_tit .photo {
    overflow: hidden;
    border-radius: 20px;
    height: 463px;
    margin: 38px 0 0 0;
}
.ctn_history .his_year_group .year_tit .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ctn_history .his_year_group .year_cont h4 {
    font-size: 30px;
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
}
.ctn_history .his_year_group .year_cont ul {
    margin: 13px 0 39px 0;
}
.ctn_history .his_nav {
    display: none;/*임시로 !!!!!!!!*/
}