@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css); 

.visual {
    position: relative; /*scroll_down, ctrl_wrap 정렬의 기준*/
}

.visual .swiper-slide .photo {
    overflow: hidden;
    height: 100dvh; /*모바일까지 고려한 브라우저 높이 100%*/
    min-height: 35.30em; /*600/17= 35.30*/
}
.visual .swiper-slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1.5s;
}
.visual .swiper-slide.swiper-slide-active .photo img {
    transform: scale3d(1.1, 1.1, 1);
}
.visual .swiper-slide .txt_wrap {
    position: absolute; /* swiper-slide를 기준으로 정렬 */
    left: 0;
    bottom: 20.9%; 
    width: 100%;
}
.visual .swiper-slide .txt_wrap .txt.mobile {
    display: none; /*숨김*/
}
.visual .swiper-slide .txt_wrap .txt {
    overflow: hidden; 
}
.visual .swiper-slide .txt_wrap .txt p {
    color: #fff;
    font-size: 3.53rem; /*60 / 17 = 3.53*/
    line-height: var(--tit-line-height);
    font-weight: var(--bold-weight);
    white-space: nowrap; /* 1줄로 표현 */

    transform: translateY(100%);
    /* transform: translateY(50%); 100% -> 0으로 애니메이션 */
    transition: 0.5s;
    transition-delay: 1s;

}
.visual .swiper-slide .txt_wrap .txt.delay1 p {
    transition-delay: 1s;
}
.visual .swiper-slide .txt_wrap .txt.delay2 p {
    transition-delay: 1.2s;
}
.visual .swiper-slide .txt_wrap .txt.delay3 p {
    transition-delay: 1.5s;
}

.visual .swiper-slide.swiper-slide-active .txt_wrap .txt p {
    transform: translateY(0);

    /* animation-name: visual_txt;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards; */
}
/* @keyframes visual_txt {
    0%{ transform: translateY(100%);}
    100%{ transform: translateY(0);}
} */

.visual .ctrl_wrap {
    position: absolute; /*visual을 기준으로 정렬*/
    left: calc(50% - 630px); 
    bottom: 16.6%;
    z-index: 10;
    display: flex;
}
.visual .ctrl_wrap button {
    border: 1px solid #fff;
    border-left-width: 0;
    width: 2em; /*34 /17 = 2em*/
    height: 2em;
    background-position: center center;
    background-repeat: no-repeat;
}
.visual .ctrl_wrap button:first-child {
    border-left-width: 1px;
}
.visual .ctrl_wrap button.btn_prev {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_1078' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect width='18' height='18' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_1078)'%3E%3Cpath d='M12 16.5L4.5 9L12 1.5L13.3313 2.83125L7.1625 9L13.3313 15.1688L12 16.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_next {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_1081' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='18' height='18'%3E%3Crect x='18' y='18' width='18' height='18' transform='rotate(180 18 18)' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_1081)'%3E%3Cpath d='M6 1.5L13.5 9L6 16.5L4.66875 15.1688L10.8375 9L4.66875 2.83125L6 1.5Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_stop {
    background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_1084' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='19' height='19'%3E%3Crect width='19' height='19' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_1084)'%3E%3Cpath d='M12.6667 15.0418C12.2313 15.0418 11.8585 14.8868 11.5484 14.5767C11.2384 14.2667 11.0833 13.8939 11.0833 13.4585V5.54183C11.0833 5.10641 11.2384 4.73367 11.5484 4.4236C11.8585 4.11353 12.2313 3.9585 12.6667 3.9585C13.1021 3.9585 13.4748 4.11353 13.7849 4.4236C14.095 4.73367 14.25 5.10641 14.25 5.54183V13.4585C14.25 13.8939 14.095 14.2667 13.7849 14.5767C13.4748 14.8868 13.1021 15.0418 12.6667 15.0418ZM6.33333 15.0418C5.89792 15.0418 5.52517 14.8868 5.2151 14.5767C4.90503 14.2667 4.75 13.8939 4.75 13.4585V5.54183C4.75 5.10641 4.90503 4.73367 5.2151 4.4236C5.52517 4.11353 5.89792 3.9585 6.33333 3.9585C6.76875 3.9585 7.14149 4.11353 7.45156 4.4236C7.76163 4.73367 7.91667 5.10641 7.91667 5.54183V13.4585C7.91667 13.8939 7.76163 14.2667 7.45156 14.5767C7.14149 14.8868 6.76875 15.0418 6.33333 15.0418Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .ctrl_wrap button.btn_play {
    display: none; /*숨김*/
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_1088' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='28' height='28'%3E%3Crect width='28' height='28' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_1088)'%3E%3Cpath d='M11.6667 19.8332V8.1665L17.5001 13.9998L11.6667 19.8332Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}
.visual .scroll_down {
    position: absolute; /*visual을 기준으로 정렬*/
    /* left: 50%; 스크롤이 가운데 들어갈 경우
    transform: translateX(-50%); */
    right: -7px; 
    bottom: 19.4%;
    z-index: 10;
    color: #fff;
    transform: rotate(90deg) translate(-50%, -50%);
}
.visual .scroll_down::after {
    content: "";
    position: absolute;
    /* left: 50%; */
    right: -18px; 
    top: 8px;
    width: 0.56em; 
    height: 0.56em;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='5' height='7' viewBox='0 0 5 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.43937 3.49226L1.24601 6.79793L0.47469 6.05282L2.92293 3.51847L0.388582 1.07023L1.1337 0.298902L4.43937 3.49226Z' fill='white'/%3E%3C/svg%3E%0A");

    animation-name: scroll_down;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes scroll_down {
    0% { right: -18px; }
    50% { right: -35px; }
    100% { right: -18px; }
}
@media screen and (max-width:1300px) {
    .visual .ctrl_wrap {
        left: 20px; 
    }
}
@media screen and (max-width:1024px) { 
    
    .visual .swiper-slide .txt_wrap .txt p {
        font-size: 3rem; 
    }
} 
@media screen and (max-width: 768px) {
                        .visual .swiper-slide.swiper-slide-active .photo img {
                            transform: scale3d(1.05, 1.05, 1); /*애니메이션 뺌*/
                        }
                        .visual .swiper-slide .txt_wrap {
                            bottom: 30%; 
                        }
                        .visual .swiper-slide .txt_wrap .txt.mobile {
                            display: block; 
                        }
                        .visual .swiper-slide .txt_wrap .txt p {
                            font-size: 2.5rem; /*40 / 16 =  */
                            transition-delay: 0.6s;
                        }
                        .visual .ctrl_wrap {
                            bottom: 25.13%;
                        }
                        .visual .ctrl_wrap button {
                            border-left-width: 1px;
                           border-radius: 50%;
                        }
                        .visual .ctrl_wrap button:first-child {
                            display: none;
                        }
                        .visual .swiper-slide .txt_wrap .txt.pc {
                            display: none; /*숨김*/
                        }
                        .visual .ctrl_wrap button.btn_prev {
                            display: none;
                        }
                        .visual .ctrl_wrap button.btn_next {
                            display: none;
                        }
                        .visual .scroll_down {
                           display: none;
                        }                       
}

/* title의 공통스타일 */
section .tit {
    margin: 9.76em 0 3.76em 0; /*166/17    64/17*/ 
}

section .tit strong {
    color: var(--point-color);
    font-weight: var(--bold-weight);
    display: inline-block; 
    padding: 0 1.29em 0 0; /*22/17*/
    position: relative; /*after 정렬의 기준*/
    margin: 0 0 0.45em 0;
}
section .tit strong::after {
    content: "";
    position: absolute;
    right: 0.24em;
    top: -0.65em;
    width: 1.12em;
    height: 1.12em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: var(--tit-ico);
}
section .tit h2 {
    font-size: var(--tit-font-size);
    font-weight: var(--bold-weight);
    color: var(--tit-font-color);
    line-height: var(--tit-line-height);
}
@media screen and (max-width: 768px) {
    section .tit {
        margin: 4.5em 0 0.88em 0; /*72/16    14/16*/ 
    }
}/*@media*/

.biz .list ul {
    display: flex;
    gap: 1px;
}
.biz .list ul li {
    width: 25%;
    position: relative; /*txt정렬의 기준*/
    transition: 0.5s;
}
.biz .list ul li .more {
    display: none; /*모바일에서만 나옴*/
}

.biz .list ul li .photo {
    overflow: hidden;
    height: 41.18em; /*700/17*/
    position: relative; /*before 정렬의 기준*/
}
.biz .list ul li .photo::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0));

    transition: 0.3s;
    
}
.biz .list ul li .photo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%; /*집에서 수정한부분???????????*/
    background: rgba(0,0,0,0.3);
    opacity: 0;

    transition: 0.3s;
    
}
.biz .list ul li .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.biz .list ul li .txt {
    position: absolute;
    left: 8.33%;
    bottom: 0.59em; /*10/17*/
    color: #fff;
    white-space: nowrap; /*줄바꿈금지*/
    transition: 0.5s;
}
.biz .list ul li .txt h3 {
    font-size: 2.06rem; /*35/17 */
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.25em 0 0.57em 0; /*4/35    20/35*/
}
.biz .list ul li .txt a {
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 0.17em 1.59em 0.24em 1em; /*3px 27px 4px 17px*/
    position: relative; /*after 정렬의 기준*/
    opacity: 0;
    transition: 0.5s;
}
.biz .list ul li .txt a::after {
    position: absolute;
    content: "";
    right: 0.65em; /*11/17*/
    top: 0.59em; /*10/17*/
    width: 0.75em; /*12/17*/
    height: 0.75em; /*12/17*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='13' viewBox='0 0 12 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_1282' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='12' height='13'%3E%3Crect y='0.046875' width='12' height='12' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_1282)'%3E%3Cpath d='M5.5 6.54688H2.5V5.54688H5.5V2.54688H6.5V5.54688H9.5V6.54688H6.5V9.54688H5.5V6.54688Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
}

@media screen and (min-width: 1025px) {
    /****************************마우스를 오버했을 때***************************/
    .biz .list ul li:hover {
        width: 70%;
    }
    .biz .list ul li:hover .txt {
        bottom: 4.53em;  /*77/17*/
    }
    .biz .list ul li:hover .txt a {
        opacity: 1;
    }
    .biz .list ul:hover li:not(:hover) .photo::before {
        opacity: 0;
    }
    .biz .list ul:hover li:not(:hover) .photo::after {
        opacity: 1;

    }
}/*@media*/
/**********************모바일*****************************/
@media screen and (max-width: 1024px) {
                    .biz .list ul {
                        display: block;
                    }
                    .biz .list ul li {
                        width: auto;
                    }
                    .biz .list ul li + li { /*두번째 li부터(인접형제선택자) */
                        margin-top: 5px;
                    }
                    .biz .list ul li .more {
                        display: block;
                        position: absolute; /*li를 기준으로 정렬*/
                        left: 0;
                        top: 0;
                        z-index: 101;
                        width: 100%;
                        height: 100%;
                    }
                    .biz .list ul li .photo {
                        height: 12.81em; /*205/16*/
                    }
                    .biz .list ul li .photo::before {
                        height: 100%;
                        background: rgba(0,0,0,0.2);
                    }
                    .biz .list ul li .photo::after {
                        display: none;
                    }
                    .biz .list ul li .txt {
                        left: 20px;
                        bottom: 1.87em; /*30/16*/
                    }
                    .biz .list ul li .txt h3 {
                        font-size: 1.87rem; /*30/16 */
                        margin: 0.18em 0 0 0; /*   */
                    }
                    .biz .list ul li .txt h3 br {
                        display: none;
                    }
                    .biz .list ul li .txt a {
                        display: none;
                    }
}/*@media*/

.news .list {
    position: relative;
    left: calc(50% - 630px);
    width: calc(50% + 630px - 24px);
}
@media screen and (max-width: 1300px) {
    .news .list {
        left: 20px;
        width: calc(100% - 40px);
    }
}/*@media*/
.news .list .swiper {
    overflow: visible; /*hidden해제*/
}
.news .list .swiper-slide {
    width: 23.76em; /*404/17*/
}
.news .list .swiper-slide a {
    display: block;

}
.news .list .swiper-slide a .date {
    display: block;
    border-top: 2px solid var(--base-color);
    font-size: var(--tit-font-size);
    line-height: var(--tit-line-height);
    color: var(--tit-font-color);
    padding: 0.44em 0 0.16em 0; /*20px 7px*/
    position: relative; /*before 정렬의 기준*/
}
.news .list .swiper-slide a .date::before {
    content: "";
    position: absolute;
    left: 0;
    top: -3px;
    width: 0;
    height: 5px;
    background-color: var(--point-color);
    transition: 1s;
}
.news .list .swiper-slide a:hover .date::before {
    width: 100%;
}
.news .list .swiper-slide a h3 {
    font-size: 1.41rem; /*24px*/
    color: var(--tit-font-color);
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);

    /*2줄 제한*/
    height: 2.4em; /*행간 * 줄수 =em*/
    overflow: hidden;
    /*길어서 짤리면 뒤에 ... 추가*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /*줄수*/
    word-break: normal; /*단어별줄바꿈 해제*/

}
.news .list .swiper-slide a p {
    /*3줄 제한*/
    height: 4.5em; /*행간 * 줄수 =em*/
    overflow: hidden;
    /*길어서 짤리면 뒤에 ... 추가*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /*줄수*/

    word-break: normal; /*단어별줄바꿈 해제*/
    margin: 1.06em 0 1.06em 0; /*18/17*/
}
.news .list .swiper-slide a .photo {
    overflow: hidden;
    height: 9.47em; /* 161 /17*/
}
.news .list .swiper-slide a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.news .list .swiper-slide a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.news .ctrl_wrap {
    margin: 1.76em 0 0 0; /*30/17*/
}
.news .ctrl_wrap .wrapper {
    display: flex;
    justify-content: space-between;
}
.news .ctrl_wrap .group1 {
    position: relative; /*scrollbar 정렬의 기준*/
    width: calc(100% - 24.59em); /*418/17*/
}
.news .ctrl_wrap .group1 .swiper-scrollbar {
    left: 0;
    bottom: 50%;
    transform: translateY(50%); /*top50일때 -50,bottom50일땐 50,, 위아래가운데*/
    z-index: 50;
    width: 100%;
    background: #EDEDED;
}
.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag {
    background: #999999;
}
.news .ctrl_wrap .group1 .swiper-scrollbar .swiper-scrollbar-drag:hover {
    background: var(--point-color);
}
.news .ctrl_wrap .group2 {
    display: flex;
    align-items: center;
    gap: 0.29em; /*5/17*/
}
.news .ctrl_wrap .group2 .count {
    color: #ccc;
    bottom: auto;
    left: auto;
    width: auto;
    margin: 0 0.71em 0 0; /*12/17*/
}
.news .ctrl_wrap .group2 .count .swiper-pagination-current {
    font-weight: var(--bold-weight);
    color: #555;
}
.news .ctrl_wrap .group2 .count .swiper-pagination-total {
    color: #555;
}
.news .ctrl_wrap .group2 .btn_prev,
.news .ctrl_wrap .group2 .btn_next {
    display: block;
    height: 1.52em;
    width: 1.52em;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='7' height='12' viewBox='0 0 7 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.83333 11.8337L0 6.00033L5.83333 0.166992L6.86875 1.20241L2.07083 6.00033L6.86875 10.7982L5.83333 11.8337Z' fill='%23666666'/%3E%3C/svg%3E%0A");
}
.news .ctrl_wrap .group2 .btn_next {
    transform: rotate(180deg);
}
.news .ctrl_wrap .group2 .more {
    display: block;
    height: 1.52em;
    line-height: 1.52em;
    padding: 0 2.06em 0 1.24em; /*21/17   35/17*/
    border: 1px solid #ccc;
    border-radius: 1.76em;
    position: relative;  /*after정렬의 기준*/
}
.news .ctrl_wrap .group2 .more::after {
    content: "";
    position: absolute; /*more정렬의 기준*/
    right: 1.06em;
    top: 0.37em;
    width: 0.71em; /*12/17*/
    height: 0.71em;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_35_1191' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='11' height='11'%3E%3Crect width='11' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_35_1191)'%3E%3Cpath d='M5.04175 5.95866H2.29175V5.04199H5.04175V2.29199H5.95841V5.04199H8.70842V5.95866H5.95841V8.70866H5.04175V5.95866Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
@media screen and (max-width: 1024px) {
    /*중간값 계산해서 넣기*/
}
@media screen and (max-width: 768px) {
                    
                    .news .list .swiper-slide {
                        width: 12.88em; /*206/16*/
                    }
                    .news .list .swiper-slide a .date {
                        font-size: 1.86rem;
                        padding: 0.24em 0 0.07em 0; 
                    }
                    .news .list .swiper-slide a h3 {
                        font-size: 1.06rem; /*17px/16*/
                    }
                    .news .list .swiper-slide a p {
                        margin: 0.76em 0 0.86em 0; 
                    }
                    .news .list .swiper-slide a .photo {
                        height: 5.94em; 
                    }
                    .news .ctrl_wrap {
                        margin: 1.36em 0 0 0; 
                    }
                    .news .ctrl_wrap .group1 {
                        width: calc(100% - 7em); /*112/16*/
                    }
                    .news .ctrl_wrap .group2 .count {
                        display: none;
                    }
                    .news .ctrl_wrap .group2 .btn_prev,
                    .news .ctrl_wrap .group2 .btn_next {
                        display: none;
                    }
} /*@media*/

.service .list {
    background: url(../images/main/service01.jpg) no-repeat center center / cover;
    color: #fff;
    text-align: center;
    height: 23.53em; /*400/17*/
    display: flex;/*ul을 list의 위아래 가운데 정렬하려고..*/
    align-items: center;
    transition: 0.5s;
}
.service .list[data-bg="bg1"] {
    background-image: url(../images/main/service02.jpg);
}
.service .list[data-bg="bg2"] {
    background-image: url(../images/main/service03.jpg);
}
.service .list[data-bg="bg3"] {
    background-image: url(../images/main/service04.jpg);
}
.service .list ul{ 
    display: flex;
    width: 100%;/*list가 flex의 영향으로 넓이 필요*/ /*(100%)*/
    padding: 0 4%;
    align-items: center;

}
.service .list ul li {
    width: 33.33%;
}
.service .list ul li a {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    margin: 0 10%; 
    padding: 1.5em 0; /*51/17*/
}
.service .list ul li a:hover {
    background-color: var(--point-color);
}

.service .list ul li a h3 {
    font-size: 2.06rem; /*35/17*/
    font-weight: var(--bold-weight);
    line-height: var(--tit-line-height);
    margin: 0.24em 0 1em 0;
}
.service .list ul li a .more {
    /* display: inline-block; */
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 0.23em 1.70em 0.12em 0.94em ;/*4 29 2 16*/
    position: relative;
    
}
.service .list ul li a .more::after {
    content: "";
    position: absolute; /*more정렬의 기준*/
    right: 0.82em;
    top: 0.47em;
    width: 0.71em; /*12/17*/
    height: 0.71em;
    background-image: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_145_359' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='11' height='11'%3E%3Crect width='11' height='11' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_145_359)'%3E%3Cpath d='M5.04163 5.95866H2.29163V5.04199H5.04163V2.29199H5.9583V5.04199H8.7083V5.95866H5.9583V8.70866H5.04163V5.95866Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

@media screen and (max-width: 768px) {
                    .service .list {
                        height: auto; 
                        display: block;
                    }
                    
                    .service .list ul{ 
                        display: block;
                        width: auto;
                        padding: 0;
                    }
                    .service .list ul li {
                        width: auto;
                        /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
                        position: relative;
                    }
                    .service .list ul li::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 0;
                        transform: translateX(-50%);
                        width: 15em;
                        height: 1px;
                        background-color: rgba(255, 255, 255, 0.2);
                    }

                    .service .list ul li a {
                        display: inline-block;
                        border: none;
                        border-radius: 0;
                        box-shadow: none;
                        backdrop-filter: none;
                        width: 50%;
                        min-width: 300px;
                        margin: 0; 
                        padding: 1.5em 0;

                    }
                    .service .list ul li a h3 {
                        font-size: 1.56rem; /*25/16*/
                        margin: 0.18em 0 0.75em 0;
                    }
                    .service .list ul li a .more {
                        display: none;
                    }
                    
}